<ion-view ng-controller="productDetailController">
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-arrow-left-c" ng-click="$ionicGoBack()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">New Arraivals Products</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" ng-click="viewCartPage()"></a>
            <ion-badge class="cart_badge" ng-if="totalItems>0">{{totalItems}}</ion-badge>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!--  category top header end here  -->
    <ion-content class="ptex_background_image" style="padding:0;">

        <div class="row" id="prod_border" ng-repeat="newarrival in newarrivalsData" ng-switch on="$index % 2">
            <div class="col" ng-switch-when="0">
                <div class="card1111">
                    <img class="m_l_15" ng-src="{{newarrival.image}}" ng-click="getProductDetails(newarrival)" width="75%">
                    <div class="content_part">
                        <div class="product_name" ng-init="limit=17" id="tooltip_name" ng-click="getProductDetails(newarrival)">
                            <a href="">{{newarrival.productname | limitTo: limit}}{{newarrival.productname .length > limit ? ' . . .' : ''}}</a>
                            <div>{{newarrival.upload_modelno}}</div>
                        </div>
                        <div class="product_price">
                            <span class="real_price">{{newarrival.upload_mrp | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{newarrival.percentage}}% OFF</span>
                        </div>
                        <span class="offer_price">{{newarrival.enduser_price | currency:'&#8377;'}}</span>
                    </div>
                </div>
            </div>

            <div class="col" ng-switch-when="0">
                <div class="card1111" ng-show="newarrivalsData[$index+1]">
                    <img class="m_l_15" ng-src="{{newarrivalsData[$index+1].image}}" ng-click="getProductDetails(newarrivalsData[$index+1])" width="75%">
                    <div class="content_part">
                        <div class="product_name" ng-init="limit=17" id="tooltip_name" ng-click="getProductDetails(newarrivalsData[$index+1])">
                            <a href="">{{newarrivalsData[$index+1].productname | limitTo: limit}}{{newarrivalsData[$index+1].productname .length > limit ? ' . . .' : ''}}</a>
                            <div>{{newarrivalsData[$index+1].upload_modelno}}</div>
                        </div>
                        <div class="product_price">
                            <span class="real_price">{{newarrivalsData[$index+1].upload_mrp | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{newarrivalsData[$index+1].percentage}}% OFF</span>
                        </div>
                        <span class="offer_price">{{newarrivalsData[$index+1].enduser_price | currency:'&#8377;'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="newarrivalsData.length==0">
            <div class="col no_records">
                <span>No Products Available !!!</span>
            </div>
        </div>

        <!--  category body end here  -->
    </ion-content>

</ion-view>