<ion-view ng-controller="viewCartController" cache-view="false">

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled" ng-click="goback()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <!-- <a class="button button-icon icon ion-android-cart" ng-click="gotoCartPage()"></a>
            <ion-badge class="cart_badge" ng-if="CartItemsCount > 0">{{CartItemsCount}}</ion-badge> -->
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="ptex_background_image" style="padding:0;" id="cart_page">

        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_cart_list" ng-if="cartArray.length > 0">
                <div class="list1">
                    <div ng-repeat="item in cartArray">
                        <div class="row">
                            <div class="col">
                                <h1 class="theme_clr">{{item.upload_name}}</h1>
                                <div class="product_price">
                                    <span class="offer_price"> {{item.mrp | currency:'&#8377;'}} </span>
                                    <br>
                                    <span class="pro_attr">Tax (%) : </span>
                                    <span class="pro_val"> {{item.tax}}</span>
                                    <br>
                                    <span class="pro_attr">Tax Amount : </span>
                                    <span class="pro_val"> {{item.tax_amount | currency:'&#8377;'}}</span>
                                    <br>
                                    <span class="pro_attr">Sub Total : </span>
                                    <span class="pro_val"> {{item.subtotal | currency:'&#8377;'}}</span>
                                    <!-- <span class="offer_percentage">30.24%</span> -->
                                </div>
                            </div>
                            <div class="col">
                                <img ng-src="{{item.imageid}}" width="50%" class="cart_imagess">

                                <div class="amunt_auto_incre">
                                    <a id="decre" class="button" ng-click="decreaseValue(item,$index,currentPage)">-</a>
                                    <input type="text" class="texting" ng-model="item.qty" ng-change="getQuantity(item.qty,item,$index,currentPage)">
                                    <a id="incre" class="button" ng-click="increaseValue(item,$index,currentPage)">+</a>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="cart_list_icons">
                            <div class="col btn_clr" ng-click="addToWishList(item.upload_name)">
                                <span>
                                    <i class="icon ion-heart"></i>
                                </span>
                                <span>wishlist</span>
                            </div>
                            <div class="col btn_clr" ng-click="deletecartItem(item)">
                                <span>
                                    <i class="icon ion-trash-a"></i>
                                </span>
                                <span>Remove</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="pro_amnt_details">
                                <h2>Price Details</h2>
                                <div class="">
                                    <p>
                                        <span class="attr">Total Price</span>
                                        <span class="val">{{total_price | currency:'&#8377;' }}</span>
                                    </p>
                                    <p>
                                        <span class="attr">Total Tax Amt</span>
                                        <span class="val">{{total_tax_amt | currency:'&#8377;'}}</span>
                                    </p>
                                    <!-- <p>
                                            <span class="attr">Shipping Charges</span>
                                            <span class="val">56456</span>
                                        </p> -->
                                    <p>
                                        <span class="attr">Grand Total (
                                            <span>{{cartArray.length}}</span> items)</span>
                                        <span class="val">{{grand_total | currency:'&#8377;'}}</span>
                                    </p>
                                </div>
                                <div class="pro_attr_vals">
                                    <p>
                                        <span class="attr">Amount Payble</span>
                                        <span class="val">{{grand_total | currency:'&#8377;'}}</span>
                                    </p>
                                </div>
                                <!-- <p class="save_item">You will save 1200 rupees on this order...</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart-btn" ng-if="cartArray.length == 0">
            <div align="middle" id="empty_cart">
                <i class="fa ion-android-cart"></i>
                <div class="empty_cart_desc">
                    <h1>
                        <span>You don't have any orders</span>
                    </h1>
                    <h4>Discover Latest Products and collections on Powertex Tools</h4>
                </div>
                <button class="button button-block all_btns" ui-sref="app.homePage">Shop Now</button>
            </div>
        </div>
        <br>
        <br>
        <!--  category body end here  -->
    </ion-content>


    <ion-footer-bar ng-if="cartArray.length>0">
        <!--Footer Start here -->
        <div id="footer" class="button-bar" ng-repeat="item in cartArray">
            <a id="cart" class="button" ng-click="checkout_page(cartArray,grandtotal)">Checkout</a>
            <!-- <a id="buynow" class="button">View Price Details</a> -->
        </div>
        <!--Footer End here -->
    </ion-footer-bar>

</ion-view>