<ion-view ng-controller="categoryPageController">

    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled" ng-click="$ionicGoBack()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Categories</div>
        </ion-nav-title>
       
    </ion-nav-bar>

    <ion-content class="ptex_background_image" style="padding:0;">
        <ion-list>
            <div ng-repeat="category in categoryData">
                <ion-item class="item-stable category_blk" ng-click="toggleGroup(category)" ng-class="{active: isGroupShown(category)}">
                    <i class="icon theme_clr f_right" ng-class="isGroupShown(category) ? 'ion-minus' : 'ion-plus'"></i>
                    &nbsp; {{category.categoryname}}
                </ion-item>
                <ion-item class="item-accordion subCat_list" ng-repeat="subCategory in category.subcategoryname" ng-show="isGroupShown(category)" ng-click="subCategoryMethod(subCategory.subcategory,category.categoryname)">
                        {{subCategory.subcategory }}
                </ion-item>
            </div>
        </ion-list>
    </ion-content>

</ion-view>