<ion-view ng-controller="categoryPageController">

    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-arrow-left-c" ng-click="$ionicGoBack()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">{{category}}</div>
        </ion-nav-title>
        <!-- <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-funnel" menu-toggle="right" ng-click="gotoFilter"></a>
        </ion-nav-buttons> -->
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="ptex_background_image" style="padding:0;">

        <!--  category body start here  -->
        <div class="category_body">
            <!-- <div class="category_dropdown filterpaging">
                <span class="button catsort">
                    <i class="fa fa-angle-double-left placeholder-icon"></i>
                </span>
                <span>1</span>
                <span class="button catsort">
                    <i class="fa fa-angle-double-right placeholder-icon"></i>
                </span>

                <div class="list" style="float:right;">
                    <label>Sort</label>
                    <select></select>
                </div>
            </div> -->
            <div class="category_cart_list" ng-repeat="products in getCategorylist">
                <div class="review review_border" ng-click="getProductDetails(products.product.upload_name)">
                    <a class="item item-thumbnail-left" class="product-img">
                        <img ng-click="getnewProductDetails(products.product)" ng-src="{{products.image}}"
                        alt="" err-src="images/ProductImages/noproducts.jpg">
                        <h2 style="white-space: initial" ng-click="getnewProductDetails(products.product)">
                            {{products.product.upload_name | limitTo: limit}}{{products.product.upload_name .length > limit ? ' . . .' : ''}}
                        </h2>
                        <div class="product_price padd_t_5">
                            <span class="offer_price">{{products.enduser_price | currency:'&#8377;'}}</span>
                            <span class="real_price">{{products.product.upload_mrp | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{products.product.end_user_disc}}% OFF</span>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="" style="margin-top: 23%;"ng-if="getCategorylist.length==0">
            <!-- <span>No Records Found !!!</span> -->
            <img src="img/NoRecordFound.png" style="width: 100%;">

        </div>
        <!--  category body end here  -->
    </ion-content>


</ion-view>