<ion-modal-view>
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="closePopup()">
                <i class="icon ion-close-circled"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">{{categoryName}}</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon" ng-click="getfiterItems(getCategoryProductData)">Apply</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content class="ptex_background_image" style="padding:0;">
        <br>
        <br>
        <ion-list>

            <div class="block">
                <div class="filter_head_options" ng-click="categories=!categories">
                    <ion-item>
                        <span>Sub Category</span>
                        <i ng-if="!categories" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="categories" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>
                <ion-list class="item-accordion item-text-wrap" ng-repeat="subCatigory in subcategoriesList" id="filter_checkOptions" ng-if="categories">
                    <ion-checkbox ng-change="getSubcatigory(subCatigory, subcategory.checked)" ng-model="subcategory.checked">{{subCatigory}}</ion-checkbox>
                </ion-list>
            </div>

            <div class="block">
                <div class="filter_head_options" ng-click="brands=!brands">
                    <ion-item>
                        <span>Brand</span>
                        <i ng-if="!brands" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="brands" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>
                <ion-list class="item-accordion item-text-wrap" ng-repeat="brand in brandsList" id="filter_checkOptions" ng-if="brands">

                    <ion-checkbox ng-model="brandItem.checked" ng-change="getBrand(brand, brandItem.checked)">{{brand}}</ion-checkbox>
                </ion-list>
            </div>

            <div class="block">
                <div class="list">
                    <div class="filter_head_options" ng-click="priceRange=!priceRange">
                        <ion-item>
                            <span>Price</span>
                            <i ng-if="!priceRange" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                            <i ng-if="priceRange" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                        </ion-item>
                    </div>
                    <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-repeat="item in priceRangeList" ng-if="priceRange">
                        <ion-checkbox ng-model="item.checked" ng-click="selectPriceRange($index, priceRangeList, item.value)"> {{ item.range }}</ion-checkbox>
                    </ion-list>
                </div>
            </div>

        </ion-list>

    </ion-content>
</ion-modal-view>