<ion-view>

    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="$ionicGoBack()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Reset Password</div>
        </ion-nav-title>
    </ion-nav-bar>

    <ion-content class="ptex_background_image">

        <div class="ptex_logo">
            <img src="img/powertex_logo.png" width="100%">
        </div>

        <div class="forgetPswd_header_txt">
            <span class="frg_paswd theme_voilet">Change Password?</span>
            <p class="frg_pwd_text">If you have change your Password - reset it here</p>
        </div>

        <form name="resetPswdForm">
            <div class="list login_labls">
                <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-unlocked placeholder-icon"></i>
                    <input type="password" placeholder="New Password" name="new_password" required ng-minlength="6"
                        maxlength="15">
                </label>
                <!-- <span ng-show="resetPswdForm.$submitted || resetPswdForm.new_password.$touched || (resetPswdForm.new_password.$dirty && resetPswdForm.new_password.$invalid)">
                    <span class="error" ng-show="resetPswdForm.new_password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="resetPswdForm.new_password.$error.minlength">Should be atleast 6-15 characters.</span>
                </span> -->

                <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-unlocked placeholder-icon"></i>
                    <input type="password" placeholder="Confirm Password" name="confirm_password" required 
                        ng-minlength="6" maxlength="15">
                </label>
                <!-- <span ng-show="resetPswdForm.$submitted || resetPswdForm.confirm_password.$touched || (resetPswdForm.confirm_password.$dirty && resetPswdForm.confirm_password.$invalid)">
                    <span class="error" ng-show="resetPswdForm.confirm_password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="resetPswdForm.confirm_password.$error.minlength">Should be atleast 6-15 characters.</span>
                    <span class="error" ng-show="resetPswdData.new_password!=resetPswdData.confirm_password">Password must be match.</span>
                </span> -->

                <div class="forgot_pswd_txt">
                    <!-- <p>You will receive an email if your account exists in our database.</p> -->
                </div>
            </div>
            <button class="button button-block all_btns" type="submit" id="login_btn1">Reset</button>
        </form>

    </ion-content>
</ion-view>