<ion-modal-view>

    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear">
                <i class="icon ion-close-circled" ng-click="$ionicGoBack()"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Shipping Address</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="ptex_background_image" style="padding:0;">
        <br>
        <!-- addresses start here -->
        <div class="location_address">
            <div class="row">
                <div class="col">
                    <form name="editShippingAddForm">
                        <div class="list edit_labls">
                            <label class="item item-input item-floating-label">
                                <span class="input-label">City</span>
                                <div class="input-placeholder">
                                    <input type="text" name="city" ng-model="billingAddress.city" ng-minlength="3" ng-maxlength="20" maxlength="20" required
                                        ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                    <div class="placeholder">
                                        City
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.city.$touched || (editShippingAddForm.city.$dirty && editShippingAddForm.city.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.city.$error.required">Please enter city.</span>
                                <span class="error" ng-show="editShippingAddForm.city.$error.pattern">Allows only Alphabets.</span>
                                <span class="error" ng-show="editShippingAddForm.city.$error.minlength">Should be atleast 3-20 characters.</span>
                                <span class="error" ng-show="editShippingAddForm.city.$error.maxlength">Should be atleast 3-20 characters.</span>
                            </span> -->
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Locality, area of street</span>
                                <div class="input-placeholder">
                                    <input type="text" name="street_address" ng-model="billingAddress.street_address" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                        required ng-pattern="/^[A-Za-z0-9_./#&-,: ]*[A-Za-z0-9_./#&-,: ]{1,50}$/">
                                    <div class="placeholder">
                                        Locality, area of street
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.street_address.$touched || (editShippingAddForm.street_address.$dirty && editShippingAddForm.street_address.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.street_address.$error.required">Please enter street.</span>
                                <span class="error" ng-show="editShippingAddForm.street_address.$error.minlength">Should be atleast 3-50 characters.</span>
                                <span class="error" ng-show="editShippingAddForm.street_address.$error.maxlength">Should be atleast 3-50 characters.</span>
                            </span> -->
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Flat no., Building name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="house_no" ng-model="billingAddress.house_no" ng-minlength="3" maxlength="50" required ng-pattern="/^[a-zA-Z0-9/ -]*$/">
                                    <div class="placeholder">
                                        Flat no., Building name
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.house_no.$touched || (editShippingAddForm.house_no.$dirty && editShippingAddForm.house_no.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.house_no.$error.required">Please enter House No.</span>
                                <span class="error" ng-show="editShippingAddForm.house_no.$error.minlength">Should be atleast 3-50 characters.</span>
                            </span> -->
                            <div class="row">
                                <div class="col" style="margin: 0 0 0 -10px;">
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">Pincode</span>
                                        <div class="input-placeholder">
                                            <input type="text" name="postal_code" ng-model="billingAddress.postal_code" required maxlength="6" ng-pattern="/^[1-9][0-9]{5}$/">
                                            <div class="placeholder">
                                                Pincode
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                    </label>
                                    <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.postal_code.$touched || (editShippingAddForm.postal_code.$dirty && editShippingAddForm.postal_code.$invalid)">
                                        <span class="error" ng-show="editShippingAddForm.postal_code.$error.required">Please enter Pincode.</span>
                                        <span class="error" ng-show="editShippingAddForm.postal_code.$error.pattern">Please enter Valid Pincode.</span>
                                    </span> -->
                                </div>
                                <div class="col" style="margin: 0 -10px 0 0;">
                                    <label class="item item-input item-floating-label">
                                        <span class="input-label">State</span>
                                        <div class="input-placeholder">
                                            <input type="text" name="state" ng-model="billingAddress.state" ng-minlength="3" maxlength="20" required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,20}$/">
                                            <div class="placeholder">
                                                State
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                    </label>
                                    <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.state.$touched || (editShippingAddForm.state.$dirty && editShippingAddForm.state.$invalid)">
                                        <span class="error" ng-show="editShippingAddForm.state.$error.required">Please enter State.</span>
                                        <span class="error" ng-show="editShippingAddForm.state.$error.pattern">Allows only Alphabets.</span>
                                        <span class="error" ng-show="editShippingAddForm.state.$error.minlength">Should be atleast 3-20 characters.</span>
                                    </span> -->
                                </div>
                            </div>
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Country</span>
                                <div class="input-placeholder">
                                    <input type="text" name="country" ng-model="billingAddress.country" ng-minlength="3" maxlength="15" required ng-pattern="/^[a-zA-Z0-9/ -]*$/">
                                    <div class="placeholder">
                                        Country
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.country.$touched || (editShippingAddForm.country.$dirty && editShippingAddForm.country.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.country.$error.required">Please enter Country.</span>
                                <span class="error" ng-show="editShippingAddForm.country.$error.minlength">Should be atleast 3-15 characters.</span>
                            </span> -->
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="firstname" ng-model="billingAddress.firstname" ng-minlength="3" ng-maxlength="50" maxlength="50"
                                        required ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                    <div class="placeholder">
                                        Name
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.firstname.$touched || (editShippingAddForm.firstname.$dirty && editShippingAddForm.firstname.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.firstname.$error.required">Please enter First Name.</span>
                                <span class="error" ng-show="editShippingAddForm.firstname.$error.pattern">Allows only Alphabets.</span>
                                <span class="error" ng-show="editShippingAddForm.firstname.$error.minlength">Should be atleast 3-50 characters.</span>
                                <span class="error" ng-show="editShippingAddForm.firstname.$error.maxlength">Should be atleast 3-50 characters.</span>
                            </span> -->

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Name</span>
                                <div class="input-placeholder">
                                    <input type="text" name="lastname" ng-model="billingAddress.lastname" ng-minlength="3" ng-maxlength="50" maxlength="50" required
                                        ng-pattern="/^[a-zA-Z. ]*[a-zA-Z]{1,50}$/">
                                    <div class="placeholder">
                                        Name
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.lastname.$touched || (editShippingAddForm.lastname.$dirty && editShippingAddForm.lastname.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.lastname.$error.required">Please enter First Name.</span>
                                <span class="error" ng-show="editShippingAddForm.lastname.$error.pattern">Allows only Alphabets.</span>
                                <span class="error" ng-show="editShippingAddForm.lastname.$error.minlength">Should be atleast 3-50 characters.</span>
                                <span class="error" ng-show="editShippingAddForm.lastname.$error.maxlength">Should be atleast 3-50 characters.</span>
                            </span> -->

                            <label class="item item-input item-floating-label">
                                <span class="input-label">Mobile Number</span>
                                <div class="input-placeholder">
                                    <input type="text" name="mobile" ng-model="billingAddress.mobile" ng-minlength="10" ng-maxlength="10" maxlength="10" required
                                        ng-pattern="/^[7-9][0-9]{9}$/">
                                    <div class="placeholder">
                                        Mobile Number
                                        <span class="star">*</span>
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.mobile.$touched || (editShippingAddForm.mobile.$dirty && editShippingAddForm.mobile.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.mobile.$error.required">Please enter Mobile Number.</span>
                                <span class="error" ng-show="editShippingAddForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                <span class="error" ng-show="editShippingAddForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span>
                            </span> -->
                            <label class="item item-input item-floating-label">
                                <span class="input-label">Alt Mobile Number</span>
                                <div class="input-placeholder">
                                    <input type="text" name="alt_mobile" ng-model="billingAddress.alt_mobile" name="alt_mobile" ng-minlength="10" ng-maxlength="10"
                                        maxlength="10" required ng-pattern="/^[7-9][0-9]{9}$/">
                                    <div class="placeholder">
                                        Alt Mobile Number
                                    </div>
                                </div>
                            </label>
                            <!-- <span ng-show="editShippingAddForm.$submitted || editShippingAddForm.alt_mobile.$touched || (editShippingAddForm.alt_mobile.$dirty && editShippingAddForm.alt_mobile.$invalid)">
                                <span class="error" ng-show="editShippingAddForm.alt_mobile.$error.required">Please enter Mobile Number.</span>
                                <span class="error" ng-show="editShippingAddForm.alt_mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                <span class="error" ng-show="editShippingAddForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span>
                            </span> -->

                            <div class="row" id="delivery_btn">
                                <div class="col">
                                    <button class="button button-block" ng-disabled="editShippingAddForm.$invalid" ng-click="saveEditBillingAddress(billingAddress)">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- addresses end here -->

    </ion-content>
</ion-modal-view>