<ion-view view-title="ForgotPassword" ng-controller="forgotPasswordCntrl">
    <ion-content class="ptex_background_image">

        <div class="ptex_logo">
            <img src="img/powertex_logo.png" width="100%">
        </div>

        <div class="forgetPswd_header_txt">
            <span class="frg_paswd theme_voilet">Forgot Password?</span>
            <p class="frg_pwd_text">If you have forgetten your Password - reset it here</p>
        </div>

        <form name="forgetPswdForm">

            <div class="list login_labls">

                <label class="item item-input item-floating-label custom-login-label">
                    <i class="ion-ios-email placeholder-icon"></i>
                    <input type="email" placeholder="Enter E-mail" name="email" ng-model="email" required ng-maxlength="50" ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                </label>
                <!-- <span ng-show="forgetPswdForm.$submitted || forgetPswdForm.email.$touched || (forgetPswdForm.email.$dirty && forgetPswdForm.email.$invalid)">
                    <span class="error" ng-show="forgetPswdForm.email.$error.required">Please Enter Email ID.</span>
                    <span class="error" ng-show="forgetPswdForm.email.$error.pattern">Please Enter Valid Email ID.</span>
                    <span class="error" ng-show="forgetPswdForm.email.$error.maxlength">Email ID cannot exceed more than 50 characters.</span>
                </span> -->
                <div class="forgot_pswd_txt">
                    <p class="theme_red">You will receive an email if your account exists in our database.</p>
                </div>
            </div>

            <button class="button button-block all_btns" id="reg_btn" ng-click="gotoResetPswd(email)">Submit</button>
            <button class="button button-block all_btns" id="reg_btn" ui-sref="app.homePage">Cancel</button>
        </form>

    </ion-content>
</ion-view>