<ion-view hide-nav-bar="true" ng-controller="searchController">
    <ion-content class="ptex_background_image" style="padding:0;">
        <div class="bar bar-header item-input-inset">
            <button class="button button-icon icon ion-android-arrow-back" ng-click="goback()">
            </button>
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" style="color:black;" placeholder="Search here..." ng-model="searchkey" ng-change="showHint(searchkey)">
            </label>
            <button class="button button-clear" id="search-clear">
                Cancel
            </button>
        </div>
        <div>
            <div>
                <div class="">
                    <ul class="search_back" ng-if="showHintFlag == 'true'">
                        <li class="item theme_clr" ng-repeat="item in searchedProducts | limitTo : 10">
                            <span ng-click="getProductDetails(item.upload_name)">
                                {{item.upload_name}}
                            </span>
                        </li>
                        <!-- <li class="item theme_clr" ng-if="searchedProducts.length>0">
                            <span class="search-view-more">view more</span>
                        </li> -->
                        <li class="item theme_clr" NG-IF="recommendedList.length>0">
                            <b>Recommended</b>
                        </li>
                        <li class="item theme_clr" ng-repeat="item in recommendedList">
                            <span ng-click="categoryBasedProducts(item.upload_category)">
                                {{item.upload_category}}
                            </span>
                        </li>

                    </ul>

                </div>
            </div>

            <div class="col123" ng-if="searchedProducts.length==0 && recommendedList.length==0">
                <ul class="search_back">
                    <li class="item">
                        <span>No Search Results Found !!!</span>
                    </li>
                </ul>

            </div>
        </div>
    </ion-content>
</ion-view>