<ion-view ng-controller="homeController" [swipeEnabled]="false">
    <ion-content class="ptex_background_image" style="padding: 0;">
        <div class="bar bar-header item-input-inset" id="search_new">
            <label class="item-input-wrapper" ng-click="search()">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" placeholder="Search">
            </label>
            <button class="button button-clear">
                Cancel
            </button>
        </div>

        <div>
            <!--   Categories part Start here    -->
            <div class="row">
                <div class="col catogery_slider">
                    <ion-slides options="galleryOptions" slider="data.slider">
                        <ion-slide-page class="cat_block" ng-click="categoryBasedProducts('Power Tools')">
                            <img class="" src="img/categories/Powertool.png">
                            <div style="text-align: center;margin-top: -3px;">Power</div>
                        </ion-slide-page>
                        <ion-slide-page class="cat_block" ng-click="categoryBasedProducts('Garden Tools')">
                            <img class="" src="img/categories/Garden_Tools.png">
                            <div style="text-align: center;margin-top: -3px;">Garden</div>
                        </ion-slide-page>
                        <ion-slide-page class="cat_block" ng-click="categoryBasedProducts('Digital Measuring Tools')">
                            <img class="" src="img/categories/Measuring_Tools.png">
                            <div style="text-align: center;margin-top: -3px;">Measuring</div>
                        </ion-slide-page>
                        <ion-slide-page class="cat_block" ng-click="categoryBasedProducts('Welding Tools')">
                            <img class="" src="img/categories/Welding_Tools.png">
                            <div style="text-align: center;margin-top: -3px;">Welding</div>
                        </ion-slide-page>
                        <ion-slide-page class="cat_block" ng-click="categoryBasedProducts('Kit')">
                            <img class="" src="img/categories/kit.png">
                            <div style="text-align: center;margin-top: -3px;">Kit</div>
                        </ion-slide-page>
                        <!-- <ion-slide-page class="cat_block">
                            <img class="" src="img/22.png">
                        </ion-slide-page>
                        <ion-slide-page class="cat_block">
                            <img class="" src="img/33.png">
                        </ion-slide-page>
                        <ion-slide-page class="cat_block">
                            <img class="" src="img/44.png"> -->
                        <!-- </ion-slide-page> -->
                        <!-- <ion-slide-page class="cat_block">
                            <img class="" src="img/11.png">
                        </ion-slide-page> -->
                    </ion-slides>
                </div>
            </div>
            <!-- Categories part end here -->

            <!-- Banner Slider part Start here  -->
            <div class="row">
                <div class="col banner_slider home-slider111">
                    <ion-slides options="options" slider="data.slider" class="mainSlider" auto-play="true" does-continue="true">
                        <ion-slide-page class="mainSlides" ng-repeat="banners in bannerArray">
                            <img ng-src="{{banners.image_url}}" style="width: 100%;height:130px;border-radius: 5px;padding: 0 3px;">
                        </ion-slide-page>
                    </ion-slides>
                </div>
            </div>
            <!-- Banner Slider part end here  -->

            <!-- Best Offers start here -->

            <!-- scroll design start here -->
            <!-- <div class="offers_part">
                <div class="block_head ofers m_left5">
                    <div>Best Offers</div>
                </div>
            </div>
            <div class="row product_desc">
                <div class="col home-slider ofr_products_slider">
                    <ion-slides options="galleryOptions_deal" slider="gallerySlider" class="homeppt">
                        <ion-slide-page ng-repeat="prodData in offersdata">
                            <div class="card111">
                                <img class="small-image pdt-img-small" ng-click="getProductDetails(prodData.productname)" ng-src="img/ProductImages/{{prodData.image}}"
                                    style="height: 100%;">
                                <div class="content_part">
                                    <div class="product_name" ng-init="limit = 14" id="tooltip_name" ng-click="getProductDetails(prodData.productname)">
                                        <a href="">{{prodData.productname | limitTo: limit}}{{prodData.productname .length > limit ?
                                            ' . . .' : ''}}</a>
                                    </div>
                                    <div class="product_price">
                                        <span class="real_price">{{prodData.mrp | currency:'&#8377;'}}</span>
                                        <span class="offer_percentage">{{prodData.discount}}%</span>
                                    </div>
                                    <span class="offer_price">{{prodData.disc_price | currency:'&#8377;'}}</span>
                                </div>
                            </div>
                        </ion-slide-page>
                    </ion-slides>
                </div>
            </div> -->
            <!-- scroll design end here -->

            <!-- list design end here -->
            <div class="border_1">
                <div class="offers_part">
                    <div class="block_head ofers m_left5">
                        <span>Best Offers</span>
                        <span class="f_right m_r_3 m_t-2">
                            <button class="" type="button" ng-click="offers_products_page()">View All</button>
                        </span>
                    </div>
                </div>
                <div class="row" id="prod_border" ng-repeat="prodData in offersdata | limitTo:4" ng-switch on="$index % 2">
                    <div class="col" ng-switch-when="0">
                        <span class="f_right mar_t_r_7 wishlist_icon">
                            <!-- <i class="icon ion-ios-home"></i> -->
                        </span>
                        <div class="card1111">
                            <img class="m_l_15" ng-click="getProductDetails(prodData.productname)" ng-src="{{prodData.image}}" width="75%">
                            <div class="content_part">
                                <div class="product_name" ng-init="limit = 14" id="tooltip_name" ng-click="getProductDetails(prodData.productname)">
                                    <a href="">{{prodData.productname | limitTo: limit}}{{prodData.productname .length > limit ?' .
                                        . .' : ''}}</a>
                                    <div>{{prodData.upload_modelno}}</div>
                                </div>
                                <div class="product_price">
                                    <span class="real_price">{{prodData.mrp | currency:'&#8377;'}}</span>
                                    <span class="offer_percentage">{{prodData.discount}}% OFF</span>
                                </div>
                                <span class="offer_price">{{prodData.disc_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col" ng-switch-when="0">
                        <span class="f_right mar_t_r_7 wishlist_icon">
                            <!-- <i class="icon ion-ios-home"></i> -->
                        </span>
                        <div class="card1111">
                            <img class="m_l_15" ng-click="getProductDetails(offersdata[$index+1].productname)" ng-src="{{offersdata[$index+1].image}}"
                                width="75%">
                            <div class="content_part">
                                <div class="product_name" ng-init="limit = 14" id="tooltip_name" ng-click="getProductDetails(offersdata[$index+1].productname)">
                                    <a href="">{{offersdata[$index+1].productname | limitTo: limit}}{{offersdata[$index+1].productname
                                        .length > limit ?' . . .' : ''}}</a>
                                    <div>{{prodData.upload_modelno}}</div>
                                </div>
                                <div class="product_price">
                                    <span class="real_price">{{offersdata[$index+1].mrp | currency:'&#8377;'}}</span>
                                    <span class="offer_percentage">{{offersdata[$index+1].discount}}% OFF</span>
                                </div>
                                <span class="offer_price">{{offersdata[$index+1].disc_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list design end here -->

            <!-- Best Offers End here -->

            <!-- Advertisement Banner Slider part Start here  -->
            <div class="row">
                <div class="col banner_slider home-slider111">
                    <ion-slides options="" slider="data.slider" class="mainSlider" auto-play="true" does-continue="true">
                        <ion-slide-page class="mainSlides">
                            <img src="img/banner_1.png" style="width: 100%;height:100%;border-radius: 5px;">
                        </ion-slide-page>
                    </ion-slides>
                </div>
            </div>
            <!-- Advertisement Banner Slider part end here  -->

            <!-- New Arraivals-->
            <!-- scroll design start here -->
            <!-- <div class="offers_part marg_t_10">
                <div class="block_head ofers m_left5">
                    <div>New Arrivals</div>
                </div>
            </div>
            <div class="row">
                <div class="col home-slider ofr_products_slider">
                    <ion-slides options="galleryOptions_deal" slider="gallerySlider" class="homeppt">
                        <ion-slide-page ng-repeat="prodData in newarrivalsData">
                            <div class="card111">
                                <img class="small-image pdt-img-small" ng-src="img/ProductImages/{{prodData.image}}" ng-click="getProductDetails(prodData.productname)"
                                    style="height: 100%;">
                                <div class="content_part">
                                    <div class="product_name" ng-init="limit = 14" id="tooltip_name" ng-click="getProductDetails(prodData.productname)">
                                        <a href="">{{prodData.productname | limitTo: limit}}{{prodData.productname .length > limit ?
                                            ' . . .' : ''}}</a>
                                    </div>
                                    <div class="product_price">
                                        <span class="real_price">{{prodData.upload_mrp | currency:'&#8377;'}}</span>
                                        <span class="offer_percentage">{{prodData.percentage}}%</span>
                                    </div>
                                    <span class="offer_price">{{prodData.enduser_price | currency:'&#8377;'}}</span>
                                </div>
                            </div>
                        </ion-slide-page>
                    </ion-slides>
                </div>
            </div> -->
            <!-- scroll design end here -->

            <!-- list design start here -->
            <div class="border_1">
                <div class="offers_part">
                    <div class="block_head ofers m_left5">
                        <span>New Arrivals</span>
                        <span class="f_right m_r_3 m_t-2">
                            <button class="" type="button" ng-click="newarraivals_products_page()">View All</button>
                        </span>
                    </div>
                </div>
                <div class="row" id="prod_border" ng-repeat="prodData in newarrivalsData | limitTo:4" ng-switch on="$index % 2">
                    <div class="col" ng-switch-when="0">
                        <div class="card1111">
                            <img class="m_l_15" ng-src="{{prodData.image}}" ng-click="getProductDetails(prodData.productname)" width="75%">
                            <div class="content_part">
                                <div class="product_name" ng-init="limit = 14" id="tooltip_name" ng-click="getProductDetails(prodData.productname)">
                                    <a href="">{{prodData.productname | limitTo: limit}}{{prodData.productname .length > limit ? ' .
                                        . .' : ''}}</a>
                                    <div>{{prodData.upload_modelno}}</div>
                                </div>
                                <div class="product_price">
                                    <span class="real_price">{{prodData.upload_mrp | currency:'&#8377;'}}</span>
                                    <span class="offer_percentage">{{prodData.percentage}}% OFF</span>
                                </div>
                                <span class="offer_price">{{prodData.enduser_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col" ng-switch-when="0">
                        <div class="card1111">
                            <img class="m_l_15" ng-src="{{newarrivalsData[$index+1].image}}" ng-click="getProductDetails(newarrivalsData[$index+1].productname)"
                                width="75%">
                            <div class="content_part">
                                <div class="product_name" ng-init="limit = 14" id="tooltip_name" ng-click="getProductDetails(newarrivalsData[$index+1].productname)">
                                    <a href="">{{newarrivalsData[$index+1].productname | limitTo: limit}}{{newarrivalsData[$index+1].productname
                                        .length > limit ? ' . . .' : ''}}</a>
                                    <div>{{prodData.upload_modelno}}</div>
                                </div>
                                <div class="product_price">
                                    <span class="real_price">{{newarrivalsData[$index+1].upload_mrp | currency:'&#8377;'}}</span>
                                    <span class="offer_percentage">{{newarrivalsData[$index+1].percentage}}% OFF</span>
                                </div>
                                <span class="offer_price">{{newarrivalsData[$index+1].enduser_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- list design end here -->

            <!-- New Arraivals End here-->

        </div>

    </ion-content>
    <!--Footer Start here -->
    <!-- <ion-footer-bar class="smtFooter">
        <div class="tabs tabs-icon-top bar bar-assertive">
            <a class="tab-item">
                <i class="icon ion-ios-home"></i>
                Home
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-people-outline"></i>
                Dealers
            </a>
            <a class="tab-item">
                <i class="icon ion-home"></i>
                Tracking
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-person-outline"></i>
                Service
            </a>
            <a class="tab-item">
                <i class="icon ion-ios-more-outline"></i>
                More
            </a>
        </div>
    </ion-footer-bar> -->
    <!--Footer End here -->

</ion-view>