<ion-view view-title="Login" ng-controller="loginController" >
  <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
    <ion-nav-buttons side="left">
      <span class="button button-icon icon ion-close-circled" ng-click="gohome()"></span>
    </ion-nav-buttons>
    <!-- <ion-nav-title>
      <div class="h1 title">Categories</div>
    </ion-nav-title> -->

  </ion-nav-bar>
  <ion-content class="ptex_background_image" no-bounce>

    <div class="ptex_logo">
      <img src="img/powertex_logo.png" width="100%">
    </div>
    <form name="loginForm">
      <div class="list login_labls">
        <label class="item item-input item-floating-label custom-login-label margin0">
          <i class="icon ion-ios-person placeholder-icon"></i>
          <input type="text" placeholder="Email / Mobile" name="username" required ng-model="userdata.username">
        </label>
        <!-- <span>
          <span class="error">Please enter Email / Mobile.</span>
        </span> -->
        <label class="item item-input custom-login-label">
          <i class="icon ion-ios-unlocked placeholder-icon"></i>
          <input type="password" placeholder="Password" name="password" required ng-model="userdata.password">
          <div>
            <input type="checkbox" id="checkbox" ng-model="passwordCheckbox" />
            <!-- <div>
              <label for="checkbox">
                <i class="fa fa-eye placeholder-icon"></i>
              </label>
              <label for="checkbox">
                <!-- <i class="fa fa-eye-slash placeholder-icon"></i> 
              </label>
            </div> -->
          </div>
        </label>
        <!-- <span>
          <span class="error">Please enter Password.</span>
        </span> -->
      </div>
      <div class="remeber_forgetpass">
        <!-- <span class="remember_me">
          <input type="checkbox">
          <span id="check_text">Remember me</span>
        </span> -->
        <span class="forgot_pswd theme_red f_right" ui-sref="app.forgetPassword">Forgot Password?</span>
      </div>
      <button class="button button-block all_btns" type="submit" id="login_btn" ng-click="loginppt(userdata)">Login</button>
    </form>

    <!-- <div class="social_media_text">
      <span class="theme_dark_blk login">Login</span>
      <br>
      <span class="theme_dark_blk account">With your social media account</span>
    </div> -->

    <div class="social_icons">
      <!-- <img src="img/twitter.png" id="row1" width="75px">
          <img src="img/facebook.png" id="middle_row">
          <img src="img/Google_Plus.png" id="row2" width="75px"> -->

      <!-- <i class="icon ion-social-googleplus line"></i>
      <i class="icon ion-social-twitter line"></i>
      <i class="icon ion-social-facebook line"></i> -->
    </div>

    <div class="sign_up">
      <span>Dont't have an account?
        <a href="" class="theme_red" id="login_signup" ng-click="gotoRegistration()">Sign Up</a>
      </span>
    </div>

  </ion-content>
</ion-view>