<!-- <ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable">
      <h1 class="title">Left</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ng-click="login()">
          Login
        </ion-item>
        <ion-item menu-close href="#/app/registration.html">
         Registration
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Fotget-Password
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Email-sent
        </ion-item>
        <ion-item menu-close href="#/app/browse">
          Browse
        </ion-item>
        <ion-item menu-close href="#/app/playlists">
          Playlists
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus> -->

<ion-side-menus enable-menu-with-back-views="false" >
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">

      <ion-nav-buttons side="left">
        <a style="display: block" class="button button-icon button-clear ion-navicon" menu-toggle="left"></a>
      </ion-nav-buttons>
      <ion-nav-title>
        <img ng-if="!search" style="width: 85%;" src="img/powertex_logo.png">
      </ion-nav-title>

      <ion-nav-buttons side="right">
        <!-- <button class="button button-icon icon ion-ios-search-strong"></button> -->
        <i style="font-size: 32px;" ng-if="!token" class="icon ion-android-contact" ng-click="login()"></i>
        <!-- <i class="icon ion-ios-person-outline"></i> -->
        <button class="button button-icon icon ion-android-cart" ui-sref="app.cart_Page"></button>
        <ion-badge class="cart_badge" ng-if="totalItems>0">{{totalItems}}</ion-badge>
      </ion-nav-buttons>

    </ion-nav-bar>

    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="smt_background_image smt_sideMenu">
    <ion-header-bar class="bar-stable">

      <div class="menu_user_photo" ng-if="token">
        <img src="img/user.png">
      </div>
      <div class="col login_user_details m-left15 menu-close" ng-if="token" ng-click="myprofile()">
        <h1 class="font_size_20">{{username}}</h1>
        <p>{{mobile}}</p>
      </div>
      <!-- <div class="col menu-close" ng-if="token" >
          <i class="icon ion-edit"></i>
        </div> -->

      <div ng-if="!token" class="item item-icon-left menu-close" style="border-color:#382767;color:white">
        <i class="icon ion-ios-home"></i> Home
      </div>

    </ion-header-bar>
    <ion-content class="scroll-content-menu">

      <ion-list id="sideMenu">
        <div class="padding_top8 m_top_7">

          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-home menu-left-icon"></i>
            Home
          </a> -->

          <a class="item item-icon-left menu-close" ng-click="homePage()" ng-if="token">
            <i class="icon ion-ios-home menu-left-icon"></i>
            Home Page
          </a>


          <a class="item item-icon-left menu-close" ng-click="myprofile()" ng-if="token">
            <i class="icon ion-person menu-left-icon"></i>
            My profile
          </a>


          <a class="item item-icon-left menu-close" ng-click="login()" ng-if="!token">
            <i class="icon ion-ios-locked menu-left-icon"></i>
            Login
          </a>

          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-key menu-left-icon"></i>
            Change Password
          </a> -->

          <a class="item menu-close categorymenu" ng-click="categories_page()">
            <span class="item-icon-left">
              <i class="icon ion-settings menu-left-icon"></i>
              Categories
            </span>
          </a>


          <!-- <a class="item item-icon-left menu-close" ng-click="emailSent()">
            <i class="icon ion-ios-home menu-left-icon"></i>
            Email sent
          </a>

          <a class="item item-icon-left menu-close" ng-click="forgetPassword()">
            <i class="icon ion-ios-home menu-left-icon"></i>
            Forget Password
          </a>

          <a class="item item-icon-left menu-close" ng-click="changePassword()">
            <i class="icon ion-ios-home menu-left-icon"></i>
            Change Password
          </a>

          <a class="item item-icon-left menu-close" ng-click="header_searchBar()">
            <i class="icon ion-ios-home menu-left-icon"></i>
            Search Page
          </a>

          <a class="item item-icon-left menu-close" ng-click="otp_popup()">
            <i class="icon ion-ios-home menu-left-icon"></i>
            OTP Popup
          </a>-->

          <a class="item item-icon-left menu-close" ng-click="wishlist_page()" ng-if="token">
            <i class="icon ion-ios-heart menu-left-icon"></i>
            Wishlist
            <span ng-if="wishlistItems>0" class="w3-badge">{{wishlistItems}}</span>
          </a>

          <!-- <ion-item menu-close ng-click="login()">
            Login
          </ion-item> -->

          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-cart menu-left-icon"></i> My Orders
            <span ng-if="ordersCount > 0" class="w3-badge">5</span>
          </a> -->
          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-person menu-left-icon"></i>
            Profile
          </a> -->
          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-heart menu-left-icon"></i> My Wish List
            <span ng-if="wishListItemsCount>0" class="w3-badge">10</span>
          </a> -->
          <a class="item item-icon-left menu-close" ui-sref="app.cart_Page" ng-if="token">
            <i class="icon ion-ios-cart menu-left-icon"></i>Tool Cart
            <ion-icon name="cart"></ion-icon>
            <span ng-if="totalItems > 0" class="w3-badge">{{totalItems}}</span>
          </a>


          <a class="item item-icon-left menu-close" ui-sref="app.forgetPassword" ng-if="token">
            <i class="icon ion-ios-lock menu-left-icon"></i>Reset Password
            <ion-icon name="cart"></ion-icon>
          </a>


          <!-- <div>
            <a class="item categorymenu">
              <span class="item-icon-left">Categories
                <i class="icon ion-settings menu-left-icon"></i>
              </span>
              <i class="icon ion-ios-arrow-up menu-left-icon f_right"></i>
              <i class="icon ion-ios-arrow-down menu-left-icon f_right"></i>
            </a>
          </div>
          <div>
            <a class="item item-icon-left menu-close">
              Angle Grinder</a>
          </div> -->

          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-pricetags menu-left-icon"></i>
            Coupons
          </a> -->
          <!-- <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-toggle menu-left-icon"></i>
            Return Policy
          </a>
          <a class="item item-icon-left menu-close">
            <i class="icon ion-ios-people menu-left-icon"></i>
            About Us
          </a>
          <a class="item item-icon-left menu-close">
            <i class="icon ion-help menu-left-icon"></i>
            FAQ
          </a> -->
          <div class="m_top12  menu-close" ng-if="token">
            <button ng-controller="loginController" class="button button-block all_btns" id="menu_login_btn" ng-click="logout()">LOGOUT</button>
          </div>
        </div>

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>