<div ng-controller="loginController">
    <div>
        <form name="otpForm">
            <div class="">
                <input type="number" ng-model="otp" name="otp" required class="otp_input">
                <span ng-show="otpForm.$submitted || otpForm.otp.$touched || (otpForm.otp.$dirty && otpForm.otp.$invalid)">
                    <span class="error" ng-show="otpForm.otp.$error.required">Please enter Otp</span>
                </span>
            </div>
            <div class="m_top_7">
                <button class="button all_btns f_left" id="popup_btn" ng-click="resendOTP()">Resend</button>
                <button class="button all_btns f_right" id="popup_btn" ng-click="completeRegistrtion(otp)">Submit</button>
            </div>
        </form>
    </div>
</div>