<ion-view>
	<ion-content>
  
	  <div class="full-width">
		<h1>Please Wait.., Your transaction is processing...</h1>
  
	  </div>
	  <div>
		<form name="payuForm" id="payuForm" method="post" action="https://secure.payu.in/_payment">
		  <input type="hidden" name="key" id="key" value="" ng-model="key">
		  <input type="hidden" name="productinfo" id="productinfo" value="" ng-model="productinfo">
		  <input type="hidden" name="hash" id="hash" value="" ng-model="hash">
		  <input type="hidden" name="txnid" id="txnid" value="" ng-model="txnid">
		  <input type="hidden" name="amount" id="amount" value="" ng-model="amount">
		  <input type="hidden" name="firstname" id="firstname" value="" ng-model="firstname">
		  <input type="hidden" name="email" id="email" value="" ng-model="email">
		  <input name="phone" type="hidden" id="phone" value="" ng-model="phone">
		  <input type="hidden" name="surl" id="surl" value="http://toolsomg.com/success.html" size="64">
		  <input type="hidden" name="furl" id="furl" value="http://toolsomg.com/failure.html" size="64">
		  <input type="hidden" name="service_provider" id="service_provider" value="" size="64">
		  <input type="hidden" value="enter" />
		</form>
	  </div>
	  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	  <style type="text/css">
		.full-width {
		  width: 100%;
		  float: left;
		  text-align: center;
		}
  
		h1 {
		  font-size: 35px;
		  width: 50%;
		  margin-top: 30px;
		  margin: 100px auto 0 auto;
		}
  
		img {
		  margin-top: 30px;
		}
	  </style>
  
	  <script type="text/javascript">   
		function findGetParameter(parameterName) {
		  var result = null,
			tmp = [];
		  location.search
			.substr(1)
			.split("&")
			.forEach(function (item) {
			  tmp = item.split("=");
			  if (tmp[0] === parameterName) result = decodeURIComponent(tmp[1]);
			});
		  return result;
		 
		}
  
		try {
		  document.getElementById("firstname").value = findGetParameter('firstname');
		  document.getElementById("email").value = findGetParameter('email');
		  document.getElementById("hash").value = findGetParameter('hash');
		  document.getElementById("phone").value = findGetParameter('phone');
		  document.getElementById("productinfo").value = findGetParameter('productinfo');
		  document.getElementById("amount").value = findGetParameter('amount');
		  document.getElementById("key").value = findGetParameter('key');
		  document.getElementById("txnid").value = findGetParameter('txnid');
		  //document.getElementById("txnid").value = findGetParameter('txnid');
  
  
		  setTimeout(function () {
			// console.log('2233243')
  
			document.payuForm.submit();
		  }, 1000);
		} catch (e) {
		  alert(e);
		}
	  </script>
	</ion-content>
  </ion-view>