<ion-view ng-controller="productDetailController" cache-view="false">
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-arrow-left-c" ng-click="$ionicGoBack()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Product Details</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" ng-click="viewCartPage()"></a>
            <ion-badge class="cart_badge" ng-if="totalItems>0">{{totalItems}}</ion-badge>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="ptex_background_image" style="padding:0;">

        <div class="row">
            <div class="col">
                <ion-slides options="" slider="" class="prod_slider" id="product_detail_slider" ng-if="productImagesLow.length>0">
                    <ion-slide-page class="text-center" style="height: 200px;" ng-repeat="zimages in productImagesLow">
                        <img ng-src="img/ProductImages/{{zimages}}" class="">
                    </ion-slide-page>
                </ion-slides>
                <ion-slides options="" slider="" class="prod_slider" id="product_detail_slider" ng-if="productImagesLow.length==0">
                    <ion-slide-page class="text-center" style="height: 200px;">
                        <img ng-src="img/ProductImages/noproducts.jpg" class="">
                    </ion-slide-page>
                </ion-slides>
            </div>
        </div>


        <div class="product_top_desc">

            <div class="row product_desc">
                <div class="col">
                    <div class="product_Detail_price">
                        <span class="offer_price">{{brandDetailProductData.enduser_price | currency:'&#8377;'}}</span>
                        <span class="real_price">{{brandDetailProductData.upload_mrp | currency:'&#8377;'}}</span>
                        <span class="offer_percentage">{{brandDetailProductData.percentage}}% OFF</span>
                    </div>
                    <p class="detailexcl_gst">(Excluding-GST)</p>
                    <div class="pro_detail_name">
                        <h1>{{brandDetailProductData.upload_name}}</h1>
                    </div>
                </div>
            </div>

            <div class="product_desc">
                <div class="row" style="padding: 0 5px;">
                    <span class="col col-33 similar" ui-sref="app.related_products_page">
                        <i class="icon ion-ios-redo"></i>
                        Similar
                    </span>
                    <span class="col col-33 similar" ui-sref="app.upsell_products_page">
                        <i class="icon ion-ios-redo"></i>
                        Best Seller
                    </span>
                    <span class="col col-33 similar" ng-click="addToWishList(brandDetailProductData.upload_name)">
                        <i class="icon ion-ios-heart"></i>
                        Wishlist
                    </span>
                </div>
            </div>

            <div class="product_desc">
                <div class="row">
                    <div class="col">
                        <div class="highlits">
                            <h3>Highlights</h3>
                            <ul>
                                <li>Brand : {{brandDetailProductData.upload_brand}}</li>
                                <li>Model No : {{brandDetailProductData.upload_modelno}}</li>
                                <li>Net Weight : {{brandDetailProductData.upload_netWeight}}</li>
                                <li ng-repeat="atr in productattributes | limitTo:2">
                                    <span> {{atr.atrname}} :</span>
                                    <span> {{atr.atrvalue}} </span>
                                </li>
                                <a ng-click="specifications()">View Details</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- review and ratings start here -->
            <!-- <div id="prodetail" class="product_desc">
                    <div>
                        <div class="row">
                            <div class="col col-50">
                                <div class="highlits">
                                    <h3>Ratings & Reviews</h3>
                                </div>
                            </div>
                        </div>
                        <div class="rating">
                            <div class="row">
                                <div class="center_star">
                                    <div>
                                        <span class="ratepercentage">5646</span>
                                    </div>
                                    <div>
                                        <div id="rating" style="float:left;">
    
                                            <div>
                                                <i class="fa fa-star" aria-hidden="true" style="padding-right:5px;font-size:15px;color:#efb30b;"></i>
                                            </div>
    
                                            <div>
                                                <i class="fa fa-star-o" aria-hidden="true" style="padding-right:5px;font-size:15px;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
    
                            </div>
                        </div>
                        <br>
                        <div>
                            <div class="padding-left5">
                                <span class="review-rated">gfhhfgh
                                    <i class="ion-android-star-outline"></i>
                                </span>
                                <span class="padding-left2">dfgvdfg
                                    <span>Review by</span>
                                    <span class="theme_clr capitalize">dfsdfsdf</span>
                                </span>
                                <p class="review_desc">sdfsdfsdf</p>
                                <p class="posted_on">Posted On
                                    <span>dfsdfsdf</span>
                                    <p>
                            </div>
                        </div>
                    </div>
    
                    <div class="row" ng-if="writereview">
                        <div class="col">
                            <div class="highlits" id="product-icon">
                                <h3>Write your review</h3>
                                <i class="downarrow icon ion-chevron-down icon-accessory"></i>
                            </div>
                            <div>
                                <form name="reviewForm">
                                    <ionic-ratings class="give_rating"  name="rating" ratingsobj='ratingsObject' index='0'></ionic-ratings>
                                    <span>
                                        <span class="error">Please give rating.</span>
                                    </span>
    
                                    <label class="item item-input item-floating-label" id="border_none">
                                        <span class="input-label space">Name
                                            <span class="error">*</span>
                                        </span>
                                        <div class="input-placeholder">
                                            <input type="text" name="name" required ng-minlength="3" ng-maxlength="50" ng-pattern="/^[A-z][A-z .]*$/">
                                            <div class="placeholder">
                                                Enter your name
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                    </label>
    
                                    <span ng-show="reviewForm.$submitted || reviewForm.name.$touched || (reviewForm.name.$dirty && reviewForm.name.$invalid)">
                                        <span class="error" ng-show="reviewForm.name.$error.required">Please enter First Name.</span>
                                        <span class="error" ng-show="reviewForm.name.$error.pattern">Allows only Alphabets.</span>
                                        <span class="error" ng-show="reviewForm.name.$error.minlength">Should be atleast 3-50 characters.</span>
                                        <span class="error" ng-show="reviewForm.name.$error.maxlength">Should be atleast 3-50 characters.</span>
                                    </span>
    
                                    <label class="item item-input item-floating-label" id="border_none">
                                        <span class="input-label space">Summary of Your Review
                                            <span class="error">*</span>
                                        </span>
                                        <div class="input-placeholder">
                                            <input type="text" name="summary" required>
                                            <div class="placeholder">
                                                Summary of Your Review
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                    </label>
    
                                    <span ng-show="reviewForm.$submitted || reviewForm.summary.$touched || (reviewForm.summary.$dirty && reviewForm.summary.$invalid)">
                                        <span class="error" ng-show="reviewForm.summary.$error.required">Please enter summary.</span>
                                    </span>
    
                                    <label class="item item-input item-floating-label" id="border_none">
                                        <span class="input-label space">Mobile Number
                                            <span class="error">*</span>
                                        </span>
                                        <div class="input-placeholder">
                                            <input type="text" name="mobile" ng-minlength="10" ng-pattern="/^[6-9][0-9]{9}$/" maxlength="10"
                                                required>
                                            <div class="placeholder">
                                                Mobile Number
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                    </label>
    
                                    <span ng-show="reviewForm.$submitted || reviewForm.mobile.$touched || (reviewForm.mobile.$dirty && reviewForm.mobile.$invalid)">
                                        <span class="error" ng-show="reviewForm.mobile.$error.required">Please enter Mobile Number.</span>
                                        <span class="error" ng-show="reviewForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                                    </span>
    
                                    <label class="item item-input item-floating-label" id="border_none">
                                        <span class="input-label space">Review
                                            <span class="error">*</span>
                                        </span>
                                        <div class="input-placeholder">
                                            <input type="text" name="review" required>
                                            <div class="placeholder">
                                                Review...
                                                <span class="star">*</span>
                                            </div>
                                        </div>
                                    </label>
    
                                    <span ng-show="reviewForm.$submitted || reviewForm.review.$touched || (reviewForm.review.$dirty && reviewForm.review.$invalid)">
                                        <span class="error" ng-show="reviewForm.review.$error.required">Please enter review</span>
                                    </span>
    
                                    <div class="col text-center">
                                        <button class="button all_btns middle">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div> -->
            <!-- review and ratings end here -->

            <!-- <div class="product_desc">
                    <div class="row" ui-sref="app.related_products_page">
                        <div class="col">
                            <div class="related">
                                <h1>Related Products
                                    <span>
                                        <i class="ion-chevron-right"></i>
                                    </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div> -->

            <!-- <div class="product_desc">
                    <div class="row" ui-sref="app.upsell_products_page">
                        <div class="col">
                            <div class="related">
                                <h1>Upsell Products
                                    <span>
                                        <i class="ion-chevron-right"></i>
                                    </span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div> -->

            <div class="highlits111">
                <div class="rel_p product_desc">Similar Products</div>
                <div class="row" id="prod_border" ng-repeat="relatedProds in relatedProducts | limitTo:6" ng-switch on="$index % 2">
                    <div class="col" ng-switch-when="0">
                        <div class="card1111">
                            <img class="m_l_15" ng-src="img/ProductImages/{{relatedProds.image}}" ng-click="getProductDetails(relatedProds)" width="75%">
                            <div class="content_part">
                                <div class="product_name" ng-init="limit=15" id="tooltip_name" ng-click="getProductDetails(relatedProds)">
                                    <a href="">{{relatedProds.upload_name | limitTo: limit}}{{relatedProds.upload_name .length > limit
                                        ? ' . . .' : ''}}</a>
                                </div>
                                <div class="mdl_no">
                                    {{relatedProds.upload_modelno}}
                                </div>
                                <div class="product_price">
                                    <span class="real_price">{{relatedProds.upload_mrp | currency:'&#8377;'}}</span>
                                    <span class="offer_percentage">{{relatedProds.percentage}}% OFF</span>
                                </div>
                                <span class="offer_price">{{relatedProds.enduser_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                    </div>

                    <div class="col" ng-switch-when="0">
                        <div class="card1111" ng-show="relatedProducts[$index+1]">
                            <img class="m_l_15" ng-src="img/ProductImages/{{relatedProducts[$index+1].image}}" ng-click="getProductDetails(relatedProducts[$index+1])"
                                width="75%">
                            <div class="content_part">
                                <div class="product_name" ng-init="limit=15" id="tooltip_name" ng-click="getProductDetails(relatedProducts[$index+1])">
                                    <a href="">{{relatedProducts[$index+1].upload_name | limitTo: limit}}{{relatedProducts[$index+1].upload_name
                                        .length > limit ? ' . . .' : ''}}</a>
                                </div>
                                <div class="mdl_no">
                                    {{relatedProds.upload_modelno}}
                                </div>
                                <div class="product_price">
                                    <span class="real_price">{{relatedProducts[$index+1].upload_mrp | currency:'&#8377;'}}</span>
                                    <span class="offer_percentage">{{relatedProducts[$index+1].percentage}}% OFF</span>
                                </div>
                                <span class="offer_price">{{relatedProducts[$index+1].enduser_price | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more_pro" ui-sref="app.related_products_page">
                <span> View More
                    <i class="icon ion-ios-redo"></i>
                </span>
            </div>

            <div class="row" ng-if="relatedproducts.length==0">
                <div class="col no_records">
                    <span>No Products Available !!!</span>
                </div>
            </div>

        </div>

    </ion-content>

    <ion-footer-bar>
        <!--Footer Start here -->
        <div id="footer" class="button-bar prod_butns">
            <a id="cart" class="button" ng-click="addTocart(brandDetailProductData,qty)">ADD TO CART</a>
            <a id="buynow" class="button" ui-sref="app.cart_Page">BUY NOW</a>
        </div>
        <!--Footer End here -->
    </ion-footer-bar>
</ion-view>