<ion-view ng-controller="userprofileController">
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled" ng-click="$ionicGoBack()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
                  <div class="h1 title">Profile</div>
                </ion-nav-title>

    </ion-nav-bar>
    <ion-content>
        <div class="list card">

            <div class="item">
             
                <div class="row">
                    <div class="col" style="text-align: center">
                        <img style="height:70px;" src="img/user1.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33 profile_text">First Name :</div>
                    <!-- <span>{{userprofile.firstname}}</span> -->
                    <div class="col col-60" style="text-transform: capitalize;">{{userprofile.firstname}}</div>
                </div>
                <div class="row">
                    <div class="col col-33 profile_text"> Last Name :</div>
                    <!-- <span>{{userprofile.lastname}}</span> -->
                    <div class="col col-60" style="text-transform: capitalize;">{{userprofile.lastname}}</div>
                </div>
                <div class="row">
                    <div class="col col-33 profile_text">Mobile :</div>
                    <div ng-if="!click" class="col col-50">{{userprofile.mobile}}</div>
                    <input type="text" ng-if="click" ng-model="userprofile.mobile">
                   
                    <span ng-click="click=!click"><i class="icon ion-edit"></i></span>
                </div>
                <div class="row">
                    <div class="col col-33 profile_text">Email ID :</div>
                    <!-- <span text-wrap>{{userprofile.email}}</span> -->
                    <div class="col textbreak">{{userprofile.email}}</div>
                </div>
                <button ng-if="click" style="background-color: #382767;color:white" ng-click="editmobilenumsubmit(userprofile.mobile)">save</button>

            </div>

        </div>
    </ion-content>
</ion-view>