<ion-view ng-controller="loginController">
        <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
                <ion-nav-buttons side="left">
                    <span class="button button-icon icon ion-close-circled" ng-click="$ionicGoBack()"></span>
                </ion-nav-buttons>
                <ion-nav-title>
                    <div class="h1 title">Registrtion</div>
                </ion-nav-title>
            </ion-nav-bar>
    <ion-content class="ptex_background_image">

        <div class="ptex_logo">
            <img src="img/powertex_logo.png" width="100%">
        </div>

        <form name="registerForm" id="regForm">
            <div class="list reg_labls m_top-10 login_labls ">

                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="icon ion-ios-person placeholder-icon reg-placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <!-- <span class="input-label float_labels">First Name</span> -->
                            <input type="text" name="firstname" ng-model="registrationData.firstname" required ng-minlength="3" ng-maxlength="50" ng-pattern="/^[A-z][A-z .]*$/">
                            <div class="reg-placeholder">
                                First Name
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <span ng-show="registerForm.$submitted || registerForm.firstname.$touched || (registerForm.firstname.$dirty && registerForm.firstname.$invalid)">
                    <span class="error" ng-show="registerForm.firstname.$error.required">Please enter First Name.</span>
                    <span class="error" ng-show="registerForm.firstname.$error.pattern">Allows only Alphabets.</span>
                    <span class="error" ng-show="registerForm.firstname.$error.minlength">Should be atleast 3-50 characters.</span>
                    <span class="error" ng-show="registerForm.firstname.$error.maxlength">Should be atleast 3-50 characters.</span>
                </span>


                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="icon ion-ios-person placeholder-icon reg-placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="text" name="lastname" ng-model="registrationData.lastname" required ng-minlength="3" ng-maxlength="50" ng-pattern="/^[A-z][A-z .]*$/">
                            <div class="reg-placeholder">
                                Last Name
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <span ng-show="registerForm.$submitted || registerForm.lastname.$touched || (registerForm.lastname.$dirty && registerForm.lastname.$invalid)">
                    <span class="error" ng-show="registerForm.lastname.$error.required">Please enter Last Name.</span>
                    <span class="error" ng-show="registerForm.lastname.$error.pattern">Allows only Alphabets.</span>
                    <span class="error" ng-show="registerForm.lastname.$error.minlength">Should be atleast 3-50 characters.</span>
                    <span class="error" ng-show="registerForm.lastname.$error.maxlength">Should be atleast 3-50 characters.</span>
                </span>


                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="icon ion-ios-telephone placeholder-icon reg-placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="text" name="mobile" ng-model="registrationData.mobile" ng-minlength="10" ng-pattern="/^[6-9][0-9]{9}$/" maxlength="10" required>
                            <div class="reg-placeholder">
                                Mobile
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <span ng-show="registerForm.$submitted || registerForm.mobile.$touched || (registerForm.mobile.$dirty && registerForm.mobile.$invalid)">
                    <span class="error" ng-show="registerForm.mobile.$error.required">Please enter Mobile Number.</span>
                    <span class="error" ng-show="registerForm.mobile.$error.pattern">Please enter Valid Mobile Number.</span>
                    <span class="error" ng-show="registerForm.mobile.$error.minlength">Enter 10 digit Mobile Number</span>
                </span>


                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="icon ion-ios-email placeholder-icon reg-placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="text" name="email" ng-model="registrationData.email" required ng-maxlength="50" ng-pattern="/^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/">
                            <div class="reg-placeholder">
                                E-mail
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <span ng-show="registerForm.$submitted || registerForm.email.$touched || (registerForm.email.$dirty && registerForm.email.$invalid)">
                    <span class="error" ng-show="registerForm.email.$error.required">Please enter Email ID.</span>
                    <span class="error" ng-show="registerForm.email.$error.pattern">Please enter Valid Email ID.</span>
                    <span class="error" ng-show="registerForm.email.$error.maxlength">Email ID cannot exceed more than 50 characters.</span>
                </span>


                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="icon ion-key placeholder-icon reg-placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="password" name="password" ng-model="registrationData.password" ng-minlength="6" maxlength="15" required>
                            <div class="reg-placeholder">
                                Password
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <span ng-show="registerForm.$submitted || registerForm.password.$touched || (registerForm.password.$dirty && registerForm.password.$invalid)">
                    <span class="error" ng-show="registerForm.password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="registerForm.password.$error.minlength">Should be atleast 6-15 characters.</span>
                </span>


                <div class="reg-label reg-label-border">
                    <div class="pull-left width-10">
                        <i class="icon ion-key placeholder-icone reg-placeholder-icon"></i>
                    </div>
                    <label class="item item-input item-floating-label">
                        <div class="reg-input-placeholder">
                            <input type="password" name="confirm_password"  ng-model="registrationData.cnfrmpassword" ng-minlength="6" maxlength="15" required>
                            <div class="reg-placeholder">
                                Confirm Password
                                <span class="star">*</span>
                            </div>
                        </div>
                    </label>
                </div>
                <span ng-show="registerForm.$submitted || registerForm.confirm_password.$touched || (registerForm.confirm_password.$dirty && registerForm.confirm_password.$invalid)">
                    <span class="error" ng-show="registerForm.confirm_password.$error.required">Please enter Password.</span>
                    <span class="error" ng-show="registerForm.confirm_password.$error.minlength">Should be atleast 6-15 characters.</span>
                    <span class="error" ng-show="registrationData.password!=registrationData.cnfrmpassword">Password must be match.</span>
                </span>


            </div>
            <div class="m_top12">
                <button class="button button-block all_btns reg_btn" ng-disabled="registerForm.$invalid" ng-click="submitted=true;registerForm.$valid && register(registrationData)">Sign Up</button>
                <button class="button button-block all_btns reg_btn" ng-click="gotoLogin()">Cancel</button>
            </div>

        </form>

    </ion-content>
</ion-view>