<ion-view ng-controller="productDetailController">
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-arrow-left-c" ng-click="$ionicGoBack()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Related Products</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <a class="button button-icon icon ion-android-cart" ng-click="viewCartPage()"></a>
            <ion-badge class="cart_badge" ng-if="totalItems>0">{{totalItems}}</ion-badge>
        </ion-nav-buttons>
    </ion-nav-bar>

    <!--  category top header end here  -->
    <ion-content class="ptex_background_image" style="padding:0;">
        <div class="row" id="prod_border" ng-repeat="relatedProds in relatedProducts" ng-switch on="$index % 2" >
            <div class="col" ng-switch-when="0">
                <div class="card1111">
                    <img class="m_l_15" ng-src="{{relatedProds.image}}" err-src="img/ProductImages/noproducts.jpg" ng-click="getProductDetails(relatedProds)" width="75%">
                    <div class="content_part">
                        <div class="product_name" ng-init="limit=17" id="tooltip_name" ng-click="getProductDetails(relatedProds)">
                            <a href="">{{relatedProds.upload_name | limitTo: limit}}{{relatedProds.upload_name .length > limit ? ' . . .' : ''}}</a>
                            <div>{{relatedProds.upload_modelno}}</div>
                            
                        </div>
                        <div class="product_price">
                            <span class="real_price">{{relatedProds.upload_mrp | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{relatedProds.percentage}}% OFF</span>
                        </div>
                        <span class="offer_price">{{relatedProds.enduser_price | currency:'&#8377;'}}</span>
                    </div>
                </div>
            </div>

            <div class="col" ng-switch-when="0">
                <div class="card1111" ng-show="relatedProducts[$index+1]">
                    <img class="m_l_15" ng-src="{{relatedProducts[$index+1].image}}"   ng-click="getProductDetails(relatedProducts[$index+1])" width="75%">
                    <div class="content_part">
                        <div class="product_name" ng-init="limit=17" id="tooltip_name" ng-click="getProductDetails(relatedProducts[$index+1])">
                            <a href="">{{relatedProducts[$index+1].upload_name | limitTo: limit}}{{relatedProducts[$index+1].upload_name .length > limit ? ' . . .' : ''}}</a>
                            <div>{{relatedProducts[$index+1].upload_modelno}}</div>
                        </div>
                        <div class="product_price">
                            <span class="real_price">{{relatedProducts[$index+1].upload_mrp | currency:'&#8377;'}}</span>
                            <span class="offer_percentage">{{relatedProducts[$index+1].percentage}}% OFF</span>
                        </div>
                        <span class="offer_price">{{relatedProducts[$index+1].enduser_price | currency:'&#8377;'}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-if="relatedproducts.length==0">
            <div class="col no_records">
                <span>No Products Available !!!</span>
            </div>
        </div>

        <!--  category body end here  -->
    </ion-content>

</ion-view>