<ion-view ng-controller="checkoutController">

    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear" ng-click="$ionicGoBack()">
                <i class="icon ion-close-circled"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Checkout</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="ptex_background_image" style="padding:0;">
        <ion-list>

            <div class="block">
                <div class="filter_head_options">
                    <ion-item>
                        <span>Checkout</span>
                        <i ng-if="showpincodeDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showpincodeDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>
                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-if="showpincodeDiv">
                    <div class="pickup">
                        <form name="pickupForm">
                            <div class="list login_labls m_top-10">

                                <label class="item item-input item-floating-label">
                                    <input type="text" placeholder="Mobile" name="mobile" ng-model="mobile" ng-minlength="10" ng-pattern="/^[6-9][0-9]{9}$/"
                                        maxlength="10" required>
                                </label>
                                <br/>
                                <label class="item item-input item-floating-label">
                                    <input type="text" name="postal_code" placeholder="Postal code" ng-model="pincode" required maxlength="6" ng-pattern="/^[1-9][0-9]{5}$/">
                                </label>

                            </div>
                            <button class="button button-block all_btns" id="reg_btn" ng-click="getshoplist(pincode,mobile)">Continue</button>
                        </form>
                    </div>
                </ion-list>
            </div>

            <!-- <div class="block">
                <div class="filter_head_options">
                    <ion-item>
                        <span>Shipping Address</span>
                        <i ng-if="showShippingAddressDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showShippingAddressDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>
                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-if="showShippingAddressDiv">
                    <div class="row ">
                        <div class="col delivery">
                            <div>
                                <h1>tyutyuytu</h1>
                                <p>
                                    <span>5647,</span>
                                    <span>ytryrty,</span>
                                    <span>thyry, 546546</span>
                                    <span>tytryrty,</span>
                                    <span>india.</span>
                                </p>
                                <p class="theme_clr">3435</p>
                            </div>
                            <button class="button all_btns changeAddr middle" id="reg_btn" ng-click="editShippingAdd()">Change or Add Address</button>
                            <button class="button all_btns conti middle" id="reg_btn" ng-click="gotoOrderDiv()">Continue</button>
                        </div>
                    </div>



                </ion-list>
            </div> -->

            <div class="block">
                <div class="filter_head_options">
                    <ion-item>
                        <span>Order Review</span>
                        <i ng-if="showOrderDetailDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!showOrderDetailDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-if="showOrderDetailDiv">

                    <div class="category_body">
                        <div class="row">
                            <div class="col">
                                <div class="pro_amnt_details">
                                    <h2>Price Details</h2>
                                    <div class="">
                                        <p>
                                            <span class="attr">Total Price</span>
                                            <span class="val">{{total_price}}</span>
                                        </p>
                                        <p>
                                            <span class="attr">Total Tax Amt</span>
                                            <span class="val">{{total_tax_amt}}</span>
                                        </p>
                                    </div>
                                    <p>
                                        <span class="attr">Grand Total (
                                            <span>{{cartArray.length}}</span> items)</span>
                                        <span class="val">{{grand_total}}</span>
                                    </p>
                                    <!-- <p ng-if="couponAmt">
                                        <span class="attr">Coupon Amount</span>
                                        <span class="val">5546445</span>
                                    </p> -->
                                </div>
                            </div>
                        </div>

                        <div class="row pro_attr_vals txt_right">
                            <div class="col">
                                <p>
                                    <span class="attr">Amount Payble</span>
                                    <span class="val">{{grand_total}}</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- <span class="p-left15 coupon-header">Enter your coupon code if you have one.</span>
                    <div class="card">
                        <div class="row ">
                            <div class="col coupon coupon-input">

                                <i class="icon ion-ios-pricetags-outline menu-left-icon" style="font-size:27px;float:left;margin-right:15px"></i>
                                <input type="text" placeholder="coupon" style="float:left">
                                <span type="submit" class="btn btn-default coupon-apply" id="discCodesBtn">Apply Coupon</span>
                            </div>
                        </div>
                        <!-- <div style="margin-left: 10px;">
                            <p style="color: green;" ng-if="couponShopMsg == 'true' && couponShop != dealerAddress">This coupon is applicable for "{{couponShop}}" Shop</p>
                            <p style="color: green;" ng-if="couponShopMsg == 'true' && couponShop == dealerAddress">Success! Coupon code is applied.Discount of ₹{{couponAmt}} is deducted</p>
                            <p style="color: green;" ng-if="couponApplied == 'true'">Success! Coupon code is applied.Discount Amount ₹{{couponAmt}} is deducted </p>
                            <p style="color:red;font-size:12px;font-weight:bold;" ng-if="couponNotApplicable == 'true'">Enter valid Coupon</p>
                    </div> 
                    </div> -->

                    <div class="row">
                        <div class="col text-center">
                            <button class="button all_btns middle" id="reg_btn" ng-click="gotoPayment()">Continue</button>
                        </div>
                    </div>

                </ion-list>

            </div>

            <!-- <div class="block">

                <div class="filter_head_options">
                    <ion-item>
                        <span>Payment Method</span>
                        <i ng-if="paymentDiv" class="downarrow icon ion-chevron-down icon-accessory" style="float:right;"></i>
                        <i ng-if="!paymentDiv" class="downarrow icon ion-chevron-up icon-accessory" style="float:right;"></i>
                    </ion-item>
                </div>

                <ion-list class="item-accordion item-text-wrap" id="filter_checkOptions" ng-if="paymentDiv">
                    <div class="">
                        <div class="radiobutns">
                            <input type="radio" name="payu" ng-model="paymentType" value="payu" ng-click="gotoPayment(paymentType)"> Pay Online
                            <br>
                            <input type="radio" name="cashondelivery" ng-model="paymentType" value="cashondelivery" ng-click="gotoPayment(paymentType)"> Cash on Delivery

                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button class="button all_btns middle" ng-disabled="placeOrderBtn" id="reg_btn" ng-click="placeOrder()">Place Order</button>
                            </div>
                        </div>
                    </div>
                </ion-list>

            </div> -->

        </ion-list>
    </ion-content>

</ion-view>