<ion-view ng-controller="productDetailController">
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <a class="button button-icon icon ion-close-circled" ng-click="$ionicGoBack()"></a>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">{{brandDetailProductData.upload_name}}</div>
        </ion-nav-title>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="ptex_background_image" style="padding:0;">
        <!-- tabs part start here -->
        <div class="about_product">
            <ion-tabs class="tabs-positive tabs-icon-top">

                <ion-tab title="Specifications" >
                    <!-- all specifications part start here -->
                    <div class="prod_specification ptex_background_image" style="padding:0;white-space: nowrap;">
                        <!-- <h2>Specifications</h2> -->
                        <div class="row spec_count">
                            <div class="col">
                                <span class="attrName">Brand</span>
                            </div>
                            <div class="col">
                                <span class="attrValue">{{brandDetailProductData.upload_brand}}</span>
                            </div>
                        </div>
                        <div class="row spec_count">
                            <div class="col">
                                <span class="attrName">Model No</span>
                            </div>
                            <div class="col">
                                <span class="attrValue">{{brandDetailProductData.upload_modelno}}</span>
                            </div>
                        </div>
                        <div class="row spec_count">
                            <div class="col">
                                <span class="attrName">Price</span>
                            </div>
                            <div class="col">
                                <span class="attrValue">{{brandDetailProductData.upload_mrp | currency:'&#8377;'}}</span>
                            </div>
                        </div>
                        <div class="row spec_count">
                                <div class="col">
                                    <span class="attrName">Special Price</span>
                                </div>
                                <div class="col">
                                    <span class="attrValue">{{brandDetailProductData.enduser_price | currency:'&#8377;'}}</span>
                                </div>
                            </div>
                           
                                <div class="row spec_count" ng-repeat="atr in productattributes">
                                        <div class="col">
                                            <span class="attrName">{{atr.atrname}} </span>
                                        </div>
                                        <div class="col">
                                            <span class="attrValue">{{atr.atrvalue}}</span>
                                        </div>
                                    </div>
                    </div>
                    <!-- all specifications part end here -->
                </ion-tab>

                <ion-tab title="Description">
                    <!-- description part start here -->
                    <div class="row smt_background_image" style="padding:0;">
                        <div class="col">
                            <div class="prod_description">
                                <p>{{brandDetailProductData.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- description part end here -->
                </ion-tab>
            </ion-tabs>
        </div>
        <!-- tabs part end here -->


    </ion-content>
</ion-view>