<ion-modal-view>

    <!-- header part start here -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <button class="button button-clear">
                <i class="icon ion-close-circled" ng-click="$ionicGoBack()"></i>
            </button>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">Cart</div>
        </ion-nav-title>
        <ion-nav-buttons side="right" >
            <button ng-if="dealersList.length>0" class="button button-icon" ng-click="saveData()">Save</button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <!-- header part end here -->

    <ion-content class="ptex_background_image" style="padding:0;">
        <br>
        <br>
        <br>
        <div ng-if="dealersList.length>0">
            <div class="name_of_the_shop" ng-repeat="shops in dealersList">
                <div class="radiobutns-shop">
                    <input type="radio" name="address" ng-click="saveShopData(shops)" />
                    <span class="theme_clr m-left10">{{shops.shop_name}}</span>
                    <div class="shop_address">
                        <div class="row">
                            <div class="col">
                                <span class="s_head">Shop Name : </span>
                            </div>
                            <div class="col">
                                <span class="s_data">{{shops.shop_name}}</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <span class="s_head">Address : </span>
                            </div>
                            <div class="col">
                                <span class="s_data">{{shops.shop_address}} </span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="s_head">Contact Person : </span>
                            </div>
                            <div class="col">
                                <span class="s_data">{{shops.dealer_name}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="s_head">Contact Number : </span>
                            </div>
                            <div class="col">
                                <span class="s_data"> {{shops.phone}}</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <span class="s_head">Pincode : </span>
                            </div>
                            <div class="col">
                                <span class="s_data">{{shops.pincode}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-if="dealersList.length==0">
            <div class="">
                <h1>There is no shops in this area.</h1>
                <button class="button button-icon" ng-click="noshops()">Next</button>
            </div>
        </div>



    </ion-content>
</ion-modal-view>