<ion-view ng-controller="wishListController">
    <!--  category top header start here  -->
    <ion-nav-bar class="bar bar-header bar-assertive" align-title="center">
        <ion-nav-buttons side="left">
            <span class="button button-icon icon ion-close-circled" ng-click="$ionicGoBack()"></span>
        </ion-nav-buttons>
        <ion-nav-title>
            <div class="h1 title">My Wish List</div>
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <!-- <a class="button button-icon icon ion-android-cart" ng-click="gotoCartPage()"></a>
            <ion-badge class="cart_badge" ng-if="CartItemsCount > 0">{{CartItemsCount}}</ion-badge> -->
        </ion-nav-buttons>
    </ion-nav-bar>
    <!--  category top header end here  -->

    <ion-content class="smt_background_image" style="padding:0;">
        <!--  category body start here  -->
        <div class="category_body">
            <div class="category_cart_list">
                <div class="category_cart_list">
                    <div class="list1" ng-repeat="data in yourWishlist">
                        <a class="item item-thumbnail-left cart_imge" class="product-img">
                            <img ng-src="{{data.image}}" alt="" ng-click="getProductDetails(data.upload_name)">
                            <h1 style="white-space: initial;" ng-click="getProductDetails(data.upload_name)">{{data.upload_name}}</h1>
                            <!-- <h2>Model Number</h2> -->
                            <div class="product_price">
                                <span class="offer_price"> &#x20B9 {{data.enduser_price}}</span>
                                <span class="real_price"> &#x20B9 {{data.upload_mrp}}</span>
                                <span class="offer_percentage">{{data.percentage}}%OFF</span>
                            </div>
                            <!-- <p class="excl_gst">(Excluding-GST)</p> -->
                            <div class="cat_cart_icons whishlist_icons">
                                <span ng-click="addTocart(data.upload_name)">
                                    <i class="icon ion-android-cart"></i>
                                </span>
                                <span ng-click="removeWishListItem(data)">
                                    <i class="icon ion-trash-a"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="cart-btn" ng-if="yourWishlist.length==0">
            <div align="middle">
                <i class="fa fa-heart" style="font-size:150px;margin-top:40%;color:#ccc"></i>
                <div style="padding-bottom:40px;">
                    <h3>
                        <span>Your Wish List is Empty</span>
                    </h3>
                </div>
                <button class="button button-block" style="width:50%;" ui-sref="app.homePage">Start Shopping</button>
            </div>
        </div>
        <!--  category body end here  -->

    </ion-content>
</ion-view>