.ptex_background_image{
    background: url("../img/BG_IMG.png");
    width: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    padding: 0 10%;
    margin-bottom: 5%;
    font-size: 12px;
}
.ptex_logo{
    text-align: center;
    padding: 10% 0 10% 0;
}
textarea, input[type="text"], input[type="password"],  input[type="number"], input[type="email"],  input[type="tel"] {
    color:#293071 !important;
    font-size: 13px !important;
}
*::-webkit-input-placeholder {
    color: #293071 !important;
    font-size: 18px !important;
}
*:-moz-placeholder {
    color: #293071 !important;
    font-size: 18px !important;
}
*:-ms-input-placeholder { 
    color: #293071 !important;
    font-size: 18px !important;
}

.coupon-input input[type="text"]{
    color:black !important;
    font-size: 13px !important;
}
.float_labels{
    color: #293071;
    font-size: 13px;
}
.custom-login-label input[type]{
    padding-left: 30px;
    font-size: 13px;
}
.custom-login-label i {
    position: absolute;
    bottom: 12px;
}
.login_labls .item{
    border-bottom:1px solid #293071 !important;
    border: none
}
#regForm .login_labls .item{
    border-bottom:0px solid #293071 !important;
    border: none
}
.menu-left-icon {
    color: #293071;
}
.placeholder-icon{
    color: #293071;
    font-size: 20px;
    margin-bottom: -3px;
    padding-left: 0px !important;
}
.all_btns{
    background: #293071;
    border-radius: 30px;
    color:#fff;
    font-weight: bold;
}
.ion-social-googleplus{
    font-size: 40px;
    color:#be393d;
}
.ion-social-twitter{
    font-size: 40px;
    color:#55acee;
}
.ion-social-facebook{
    font-size: 40px;
    color:#3b5998;
}
.social_icons{
   text-align: center;
   margin-top: 15%;
}
.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{
    background: #293071 !important;
    border-color: #293071 !important;
    border-radius: 50% !important;
}
.platform-android .checkbox-platform input:before, .platform-android .checkbox-platform .checkbox-icon:before, .checkbox-square input:before, .checkbox-square .checkbox-icon:before{
    border-color: #293071 !important;
    border-radius: 50% !important;
}
.error {
    color: #be393d;
}
.btn_clr.activated{
    border-color: #293071 !important;
    background-color: #293071 !important;
    color: #fff !important;
}
.button.activated {
    border-color: #293071 !important;
    background-color: #293071 !important;
    color: #fff !important;
}
.button:hover {
    color: #fff ;
}
#mandatory_feild{
    color:#be393d;
    font-weight: bold;
    font-size: 20px;
    margin-left: -13px;
}
.popup-buttons button.button-positive {
    background-color: #293071;
}
#popup_btn{
    min-height: 30px !important;
    line-height: 25px !important;
    border-radius: 3px !important;
}

.f_left {
    float: left;
}
.f_right {
    float: right;
}
.mar_t_r_7{
    margin-top: 7px;
    margin-right: 7px;
}
.popup-head {
    background: #293071;
    border:1px solid #293071;
}
.popup-head h3{
    color:#fff;
}
.popup-body {
    text-align: center;
}
.otp_input{
    border: none !important;
    border-bottom: 1px solid #293071 !important;
    background: transparent !important;
}
.m_top-10 {
    margin-top: -10%;
  }
  .m_r_3 {
    margin-right: 3%;
  }
  .m_t-2{
    margin-top: -2px;
  }
  .m_top12 {
    margin-top: 12%;
  }
  .m_top_7{
    margin-top: 7%;
  }
  .m_l_15{
    margin-left: 15px;
  }
  .m_top_5{
    margin-top: 5%;
  }
  .padd_5{
      padding: 5px;
  }
  .similar{
    font-size: 14px;
    color: #7e7e7e;
    font-weight: 600;
    /* padding: 5px; */
    border-right: 1px solid #ddd;
    text-align: center;
  }
  .similar:last-child{
    border-right: 0px solid #ddd;
  }
  .margin0.item {
      margin: 1px !important;
  }
  .bar.bar-assertive {
    border-color: #293071 !important;
    background-color: #293071 !important;
   background-image:none !important;
    color: #fff;
}
.mainSlider{
    border-radius: 15px;
}
.block_head h3{
    float: left;
    margin-left: 2%;
    font-size: 13px;
    font-weight: 700;
    color:#293071;
    text-transform: uppercase;
}
.collectons img{
    width: 55%;
    border: 1px solid #293071;
    border-radius: 50%;
    padding: 10px 0px;
}
.collections_part{
    text-align: center;
}
.collections_part .row{

}
.collections_text span{
    font-size: 12px;
    font-weight: 400;
}

.swiper-wrapper {
position: inherit !important;
}
.homeSmt .swiper-pagination {
  display: none !important;
}
.home-slider .swiper-slide {
text-align: center;
font-size: 18px;
background: #fff;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
-webkit-justify-content: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
-webkit-align-items: center;
align-items: center;
}
.slider_brands .swiper-slide{

}
.brands_slider{
  height:75px !important;
}
.brands_slider img{
  border:1px dotted #aeaeae;
  border-radius: 10px;
}

table, td, th {    
border: 1px solid #ddd;
text-align: center;
}

table {
border-collapse: collapse;
width: 100%;
}

th, td {
padding: 10px;
}
.nrows tr:nth-child(even) {
background-color: #f2f2f2;
}
th {
background-color: #293071;
color: #fff;
}
.padding5 {
padding: 5%;
}
.delivery .theme_clr {
color: #293071;
font-weight: 500;
}

.theme_clr {
color: #293071;
}
.txt_right {
text-align: right;
}
.tabs {
height: 55px !important;
}
.smtFooter .tab-item .icon{
padding: 5px 0 !important;
color: #fff;
}
.viewmore_less{
color: #be393d;
font-size: 12px;
font-weight: 500;
text-decoration: underline;
}

.text-center{
text-align: center;
}

.ionic_ratings .icon {
font-size: 25px;
}

.m-rt12{
  margin-right: 12px;
}

input[type="radio"] {
    margin: 0;
    line-height: normal;
    height: 20px;
    width: 20px;
}
.item-input {
    padding: 5px 0 5px 5px !important;
}
#border_none{
    border:none !important;
}
.cart_badge{
    border-radius: 50%;
    background: #be393d;
    height: 20px;
    padding: 5px 5px;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    margin-left: -10px;
    line-height: 1;
}

.m-left10 {
    margin-left: 10px;
}
.m_left5 {
    margin-left: 5%;
}
.categorymenu .item-icon-left {
    padding-left: 40px;
}
.position-0{
    position: absolute;
    top: 0%;
}
.p-left15{
    padding-left: 15px;
}
.filterpaging .button {
    min-width: 45px;
    min-height: 28px;
}


/* my powertex app styles start here */
.login_labls{
    margin-bottom: 10px !important;
}
.theme_red{
    color:#be393d;
}
.theme_voilet{
    color:#293071;
}
.theme_dark_blk{
    color:#232f3e;
}
.theme_lite_blk{
    color:#37475a;
}
.line{
    border-right: 1px solid #293071;
    padding: 0 25px;
}
.line:last-child{
    border-right: 0px solid #293071;
    padding: 0 0 0 25px;
}
.line:first-child{
    border-right: 1px solid #293071;
    padding: 0 25px 0 0;
}
.social_media_text{
    padding-top: 10%;
    text-align: center;
}
.social_media_text .login{
    font-size: 20px;
    font-weight: 700;
}
.social_media_text .account{
    font-size: 16px;
    font-weight: 500;
}
.menu_user_photo img{
    width: 60px;
    height: 60px;
    padding: 4px;
    margin-top: -4px;
}
.frg_paswd{
    font-size: 15px;
    font-weight: 600;
}
.frg_pwd_text{
    font-size: 14px;
    padding-top: 10px;
}
.cat_view img{
    width:50px;
    height:50px;
}
.cat_view{

}  
.marg_t_10{
    margin-top: 10px;
} 
/* my powertex app styles end here */


/*cat-list-page styles start here */
.list .item.item-accordion {
    line-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    transition: 0.09s all linear;
  }
  .list .item.item-accordion.ng-hide {
    line-height: 0px;
  }
  .list .item.item-accordion.ng-hide-add,
  .list .item.item-accordion.ng-hide-remove {
    display: block !important;
  }
  /*cat-list-page styles end here */

  .padd_t_5{
    padding-top: 5px;
  }
.border_1{
    /* border: 4px solid #ddd; */
    border-left: 4px solid #ddd;
    border-right: 4px solid #ddd;
}