
/* 
#login_btn{
  margin-top: 20%;
}
#reg_btn{

}
.smt_user_photo{
  text-align: center;
  margin-bottom: 5%;
}
#user_photo{
  border: 1px solid #293071;
  border-radius: 50%;
  padding: 8px 20px;
  font-size: 50px;
}
#middle_row{
    border-left: 1px solid #293071;   
    border-right: 1px solid #293071; 
    padding: 0 13px;
}
#row1{
  padding: 0 13px;
}
#row2{
  padding: 0 13px;
}
.sign_up{
  margin-top: 12%;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  color: #232f3e;
}
#login_signup{
  color: #293071;
  font-weight: 700;
}
.remeber_forgetpass{

}
.remember_me{
  float: left;
  color:#232f3e;
  font-weight: 500;
}
.forgot_pswd{
  float: right;
  color:#232f3e;
  font-weight: 500;
}
#check_text{
  padding-left: 5px;
}
#checkbox_icon{
  border-style: none !important;
  padding: 0 0 0 45px !important;
}

.forgetPswd_header_txt {
  text-align: center;
  color: #232f3e;
  margin-bottom: 10%;
  font-weight: 450;
}

.forgot_pswd_txt {
  padding-top: 0%;
    margin-bottom: 10%;
    color: #232f3e;
    font-weight: 500;
    text-align: center;
}

.email_sent {
  text-align: center;
  color: #232f3e;
  padding-bottom: 15%;
} */

/* .footer-style .bar.bar-positive {
  border-color: #293071;
  background-color: #293071;
  color: #fff; 
}

.footer-txt{
    font-weight: bold;
    font-size: 18px;
}

.footer-bar-height .bar {
  height: 44px;
}

.welcome-slide-icon{
  text-align: center;
  margin-top: 20%;
}

.welcome-slider .swiper-container-horizontal > .swiper-pagination {
  bottom: 7%;
}
.welcome-slide label {
  font-size: 20px;
  line-height: 1.42857;
  color: #232f3e;
}
.welcome-slide-text{
  position: absolute;
  bottom: 20%;
  text-align: center;
}
.welcome-slide1-txt {
  padding-left: 20%;
  padding-right: 20%;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #293071 !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  opacity: 1;
  border: 2px solid #293071;
}


div.footer-button a.button.button-full {
  width:100%;
  margin-top: 0
} */


/*old smt styles start here*/

.scroll {
  height: 100% !important;
}
.tab-nav.tabs {
  top: 0;
  background-color: transparent;
}

.tab-item.tab-item-active {
  border-bottom: 2px solid #293071;      
}

#login_btn{
  margin-top: 25%;
}
.reg_btn{
  margin-top: 5%;
}
.smt_user_photo{
  text-align: center;
  margin-bottom: 5%;
}
#user_photo{
  border: 1px solid #293071;
  border-radius: 50%;
  padding: 8px 20px;
  font-size: 50px;
}
#middle_row{
  border-left: 1px solid #293071;   
  border-right: 1px solid #293071; 
  padding: 0 40px;
  height:38px;
}
#row1{
  padding: 0 13px;
  float: left;
}
#row2{
  padding: 0 13px;
  float: right;
}
.sign_up{
  margin-top: 15%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
#login_signup{
  color: #293071;
  font-weight: 700;
}
.remeber_forgetpass{
  margin-top: -3%;
}
.remember_me{
  float: left;
  color:#293071;
  font-weight: 500;
}
.forgot_pswd{
  float: right;
  color:#293071;
  text-decoration:underline;
  font-size:14px;
  font-weight: 500;
}
#check_text{
  padding-left: 5px;
  font-size:14px;
}
#checkbox_icon{
  border-style: none !important;
  padding: 0 0 0 45px !important;
}

.forgetPswd_header_txt {
  text-align: center;
  color: #293071;
  margin-bottom: 10%;
  font-weight: 450;
}

.forgot_pswd_txt {
  padding-top: 3%;
  margin-bottom: 15%;
  color: #293071;
  font-weight: 450;
}

.email_sent {
  text-align: center;
  color: #293071;
  padding-bottom: 15%;
}

.footer-style .bar.bar-positive {
  border-color: #293071;
  background-color: #293071;
  color: #fff; 
}

.footer-txt{
  font-weight: bold;
  font-size: 18px;
}

.footer-bar-height .bar {
  height: 44px;
}

.welcome-slide-icon{
  text-align: center;
  margin-top: 25%;
}

.welcome-slider .swiper-container-horizontal > .swiper-pagination {
  bottom: 7%;
}
.welcome-slide label {
  font-size: 20px;
  line-height: 1.42857;
  color: #293071;
}
.welcome-slide-text{
  bottom: 20%;
  text-align: center;
}
.welcome-slide1-txt {
  padding-left: 20%;
  padding-right: 20%;
}
.welcome-slide2-txt {
  padding-left: 5%;
  padding-right: 5%;
  margin-top:100px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #293071 !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: transparent;
  opacity: 1;
  border: 2px solid #293071;
}

div.footer-button a.button.button-full {
  width:100%;
  margin-top: 0
}

.smt_logo_reg {
  padding: 20% 0 20% 0;
  text-align: center;
}
.card1111{
  border: 0px dotted #aeaeae;
  padding: 5px;
  border-radius: 15px;
}
.card111{
  /* border: 1px dotted #aeaeae;
  padding: 5px;
  border-radius: 15px; */
}
.content_part{
  text-align: left;
  padding: 5px;
}
/* .product_name a{
  font-size: 14px;
  text-decoration: none;
  color: #000000;
} */
.product_price .offer_price{
  color:#54a70a;
  font-size: 13px;
  font-weight: 700;
  margin-right: 5px;
}
.product_price .real_price{
  text-decoration: line-through;
  color:#be393d;
  font-size: 13px;
}
/* .product_price .offer_percentage{
  background: #ed3d3d;
  color:#fff;
  font-size: 11px;
  padding: 1px 5px;
  float: right;
} */
.content_part .excl_gst{
  font-size: 11px;
  color:#293071;
  font-weight: 600;
}

.card1{
  border: 1px solid #ddd;
  margin-left: -5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: #fefefe;
}
.card2{
  border: 1px solid #ddd;
  margin-left: 5px;
  margin-right: -5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: #fefefe;
}
.order_details_table th{
  padding: 5px;
}
.tfoot_allign_right td {
  text-align: right;
}

.category_cart_list h2{
  font-size: 13px;
  width: 100%;
  font-weight: 600;
  padding-top: 10px;
}
.category_cart_list .item p.excl_gst {
  color: #293071;
  font-size: 11px;
  margin-bottom: 2px;
}
.category_cart_list .offer_percentage{
  border-radius: 5px;
}
.category_header .button-icon{
  color:#fff;
}
.category_header .h1.title{
  color:#fff;
}
.category_header .bar-header{
  background:#293071;
  border:1px solid #293071; 
  color:#fff;
}
.category_body{
  padding: 10px;
}
.category_body .category_dropdown{
  width:100%;
  float:left;
}
.cart_icons{
  color: #666b6c;
}
.cart_icons span{
  font-size: 20px;
  margin-right: 15px;
}
.deal{
  border: 1px solid #293071;
  background: #293071;
  color: #fff;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.deal_icons{
  position: absolute;
  top: 13%;
  left: 5%;
}
.cat_cart_icons span{
  color: #6d6e6e;
  margin-right: 20px;
  font-size: 17px;
}
.filter_subcat_list{
  border:none;
}
.filter_sub_list{
  border:none;  
  padding: 0px 60px !important;
  margin: -5px !important;
}
.filter_list{
  margin-top: 6%; 
}

.filter_list .item.active.item-stable{
  background: none; 
  border: none;
  color:#293071;
  font-weight: 700;
}
.filter_list .item{
  background: none; 
  border: none;
  color:#293071;
  font-weight: 700;
}
.filter_subcat_list{
  color:#000 !important;
}

.item-complex .item-content{
  border-bottom: 1px solid #293071 !important;
  border-left: none;
  border-right: none;
  border-top: none;
  background:none;
}
#menu_login_btn{
  margin-top: 5%;
  width: 70%;
  margin: 0 auto;
}
.smt_sideMenu .bar.bar-stable {
  border-color: #293071;
  background-color: #293071;
  background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
  color: #fff;
  height: 10%;
}
.smt_sideMenu .item{
  background-color: transparent;
}

.menu_user_photo{
  /* margin-top:5px !important; */
}
.menu_user_photo img{
  max-width: 90%;
  padding: 10px;
}
.login_user_details{
  padding-top: 2%;
}
.login_user_details h1{
  font-size: 20px;
  margin-bottom: 0;
  color: #fff;
}
.category_cart_list{

}
.category_cart_list .list1 .item{
  background-color:transparent;
  color: #444;
  border: none; 
  border-bottom: 5px solid #ddd; 
}
.category_cart_list .list1 h1{
  font-size: 15px;
  margin-top: 2%;
  margin-bottom: 2%;     
}
.whishlist_icons{

}
.whishlist_icons span {
  font-size: 25px;
}
#filter_checkOptions .item {
  border-color:none; 
  background-color: transparent;
  color: #444;
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  border-width: 0;
  border-style: none;
  font-size: 16px;
  margin-left: 5%;
  margin-top: -5%;
}
.filter_head_options .item {
  border-color:none;
  background-color:transparent;
  color: #293071;
  font-weight: 700;
  position: relative;
  z-index: 2;
  display: block;
  margin: 0;
  border-width: 0;
  border-style: none;
  font-size: 16px;
}
#tooltip_name tooltip._top:not(._left):not(._right) tip {
left: 90px;
top: 0;
font-size: 12px;
width: 190px !important;
padding: 4px 5px;
line-height: 1;
border-radius: 5px;
background: #a9abab;
}
#tooltip_name tooltip._top:not(._left):not(._right) tip tip-arrow {
border-top: 6px solid #a9abab;
}
.product_top_desc{

}
.product_detailSlider{
  border:1px solid #ddd;
  border-radius: 10px;
}
.product_Detail_price{
  margin-top: 10px;
}
.product_Detail_price .offer_price{
  color:#293071;
  font-weight: 500;
  font-size: 20px;
  padding-right: 5px;
}
.product_Detail_price .real_price{
  color:#be393d;
  font-size: 20px;
  padding-right: 5px;
  text-decoration: line-through;
}
.product_Detail_price .offer_percentage{
  font-size: 16px;
  /* font-size: 20px; 
  background: #be393d;
  color:#fff;
  padding: 1px 5px;
  float: right; */
}
.detailexcl_gst{
  font-size: 15px;
  color: #a9a9a9;
}
.pro_detail_name h1{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 500;
  color: #232f3e;
}
.pro_detail_name p{
  color: #a9a9a9;
  font-size: 15px;
  margin-top: 3px;
}
.product_desc{
  border-bottom: 5px solid #ddd; 
}
.highlits h3{
  color: #293071;
  font-weight: 650;
  font-size: 16px;    
}
.highlits ul{
  margin-left: 8%;
}
.highlits ul li{
  list-style-type: disc;
  font-size: 17px;
  color: #999797;
  line-height: 1.5;
  font-weight: 400;
}
.highlits a{
  float: right;
  color: #293071;
  font-size: 14px;
  font-weight: 500;
}
.related h1{
  color: #293071;
  font-size: 20px;
}
.related span{
  float: right;
}

#footer {
  position : absolute;
  bottom : 0;
  left:0;
  height: 50px;
  margin-top: 50px;
}
#cart{
  min-width: 50%;
  border-radius: 0px; 
  background:#293071;
  border:1px solid #293071;
  color:#fff;
  font-size: 17px;
  line-height: 2.7;
  
}
#buynow{
  min-width: 50%;
  border-radius: 0px; 
  background:#fff;
  border:1px solid #293071;
  font-size: 17px;
  line-height: 2.7;
}

#productdetailSlide .slider-slide {
   text-align: center;
}
.slider-slides {
  text-align: center;
}

about_product {
  margin-top: 55px;
}

.about_product .tabs-striped.tabs-background-positive .tabs{
  background-color: transparent;
}
.about_product .tabs-striped.tabs-color-light .tab-item.active{
  color: #000;
  font-size: 20px;
  border: 0 solid #293071;
}
.about_product .tabs-striped.tabs-color-light .tab-item{
  color: #000;
  font-size: 20px;
  border: 0 solid #293071;
}
.about_product .tabs-background-positive .tabs, .tabs-background-positive > .tabs {
  background-color: none;
  background-image:none;
  border-color: #ddd;
}
.prod_description p{
  font-size: 16px;
  color: #7f7a7a;
  line-height: 1.4;
}
.prod_specification{
  padding: 0 0 0 0;
}
.prod_specification h2{
  color: #293071;
  font-size: 22px;
  font-weight: 500;
  padding: 0 10px;
}
.seperatorColon{
  padding: 0 15%;
}
.prod_specification span{
  font-size: 14px;
}
.attrName{ 
  color: #a09797;
  padding-left: 15px;
  font-weight: 500;
}
.attrValue{
  color: #000;
  padding-right: 15px;
  font-weight: 500;
}
.prod_specification .spec_count{
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  padding-top: 5px;
}
#priceRange{
  border-width:0;
  border-style: none;
}
.priceshower{
  float: right;
  border: 1px solid #ddd;
  padding: 5px 20px;
  color: #293071;
  border-radius: 5px;
  font-weight: 700;
}
.cart_icons span.extraCshback{
  color: #fff;
  background: #293071;
  border: 1px solid #293071;
  padding: 2px 5px;
  font-size: 10px;
  border-radius: 5px;
  margin-left: -10px;
}
.category_dropdown.rel_cat{
 
}
.rel_cat .list{
  margin-bottom: 0px;
}
.order_segment th{
  background-color: #fff;
  color: #293071;
  font-size: 15px;
}
.seg_select {
  color: #111 !important;
  font-size: 15px !important;
  border: none;
  border-bottom: 2px solid #293071;
}
.no_records {
  background-color: #dedede;
  padding: 3%;
  font-size: 15px;
  margin-top: 5%;
}

  .about_product .tabs-top > .tabs{
      top: 0;
  }
  .about_product .tabs-striped.tabs-positive .tabs{
      background:none;
      border-bottom: 1px solid #ddd;
  }
  .prod_specification{
      top: 10%;
  }
  .prod_description{
      margin-top: 15%;
  }
  .about_product .tabs-striped.tabs-positive .tab-item.tab-item-active{
      color: #000;
      font-size: 20px;
      line-height: 2.3;
      font-weight: 500;
  }
  .about_product .tabs-icon-top > .tabs .tab-item{
      color: #000;
      font-size: 20px;
      line-height: 2.3;
      font-weight: 500;
  }
  .about_product .tabs-striped.tabs-positive .tab-item.tab-item-active{
      border-color: #293071;
  }
  .about_product .tab-item{
      max-width: 210px;
  }
  .location_det{
      font-size: 20px;
      margin-top: 8px;
      font-weight: 600;
  }
  #cart_page .pincode{
      border-bottom: 5px solid #ddd;
  }
  .change_btn{
      float: right;
      border: 1px solid #ddd;
      background: transparent;
      color: #293071;
      border-radius: 3px;
      padding: 5px 10px;
      margin-top: 5px;
  }
  
  #cart_list_icons .col{
      border: 1px solid #ddd;
      text-align: center;
      font-size: 15px;
      margin: 10px 0;
  }
  #cart_list_icons span i{
      padding-right: 10px;
  }
  .pro_amnt_details h2{
      font-size: 20px;
      color:#293071;
      font-weight: 500;
  }
  .pro_amnt_details p span{
      font-size: 17px;
      color: #7d7b7b;
  }
  .pro_amnt_details p .attr{

  }
  .pro_amnt_details p .val{
      float: right;
  }
  .pro_attr_vals{
      border-bottom: 1px solid #ddd;
      border-top: 1px solid #ddd;
  }
  .pro_attr_vals .attr, .pro_attr_vals .val{
      font-size: 17px;
      color: #000;
      font-weight: 500;
      margin-top: 5px;
  }
  .save_item{
      color:#293071;
      font-size: 13px;
      margin-top: 5px;
  }
  .amunt_auto_incre{
      display:inline-flex;
      float: right;
  }
  .amunt_auto_incre .button{
      min-height: 0;
      min-width: 0;
      height: 30px;
      line-height: 1.6;
      border: 1px solid #293071;
      background: #293071;
      color: #fff;
      border-radius: 0px;
      text-align: center;
  }
  .amunt_auto_incre .texting{
      width: 60px;
      height: 30px;
      border:1px solid #293071;
      text-align: center;
  }
  .item-complex .item-content{
      padding: 10px 49px 10px 16px !important;
  }
  .w3-badge {
      background-color: #293071;
      color: #fff;
      display: inline-block;
      padding-left: 8px;
      padding-right: 8px;
      text-align: center;
      border-radius: 10px;
      margin-left: 15px;
  }
  .cart_imagess{
      float: right;
      width: 65%;
  }
  .radiobutns{
      margin-left: 25px;
      font-size: 20px;
      line-height: 1.8;
  }
  .pickup{
      margin-top: 15%;
  }
  .pickup .item{
      margin-right: 20px !important
  }
  .pickup .custom-login-label input[type]{
      padding-left: 0px;
  }
  .pickup button.button-block{
      width: 50%;
      margin: 0px auto 15px auto;
  }
  .delivery h1{
      font-size: 20px;
      color: #5a5959;
      font-weight: 500;
  }
  .delivery p{
      font-size: 17px;
      color: #a8a4a4;
      line-height: 1.2;
      font-weight: 400;
  }
  .block{
      border-bottom: 5px solid #ddd;
  }
  .shop_address .s_head{
      color: #2c2b2b;
  }
  .shop_address .s_data{
      color: #666565;
  }
  .shop_address .col span{
      font-size: 16px;
      font-weight: 500;
  }
  .shop_address .col{
      padding: 0 5px;
  }
  .shop_address .row{
      padding: 0 5px;
  }
  .name_of_the_shop .radiobutns{
      font-weight: 500;
  }
  .name_of_the_shop{
      border-bottom: 5px solid #ddd;
      margin: 5px 0;
  }
  .font_size15 {
      font-size: 15px;
  }

#rating.col{
  display: inherit !important;
  font-size: 15px !important;
  margin-top: 10%;
  margin-left: 5%;
}
.rating .ratepercentage{
  padding-left: 20%;
  font-size: 30px;
  color: #0a9dc7;
  font-weight: 500;
} 
.ratingbar{
  height: 3px;
  width: 100%; 
  transition: width 0.1s; 
  background: #cec8c8;
}
.ratingbar:after {
   content: '';
   display: block;
   background: #293071;
   width: 50%;
   height: 100%; 
}

.p_name{
  font-weight: 500;
}

#prodetail textarea{
  width: 100%;
  border: 1px solid #5e5d5d;
}
#prodetail .review-submit-btn{
  float: right;
  margin-top: 10px;
}
#prodetail .review-rated{
  font-size: 15px;
  background: #1fb74a;
  border-radius: 5px;
  color: #fff;
  padding-left: 6px;
}
#prodetailstar i{
  margin-left: 3px;
  margin-right: 3px;
}
.edit_user_address p.addr{
  font-size: 17px;
  color: #969393;
  margin-top: -10px;
  font-weight: 500;
  margin-bottom: 0;
  line-height: 1.6;
}
p.ph_no{
  font-size: 17px;
  color: #293071;
  font-weight: 500;
  margin-bottom: 0;
}
.usr_addr{
  border-bottom: 1px solid #293071;
}
#add_new_add_btn{
  border-bottom: 1px solid #293071;
}
#add_new_add_btn button{
  border-radius: 30px;
  background: #eeeeee;
  color: #293071;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}
.edit{
  float: right;
  margin-right: 20px;
  color: #293071;
}
#delivery_btn button{
  background:#293071;
  border: 1px solid #293071;
  color: #fff;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}
.fill_addr{
  text-align: center;
  color: #989b9c;
  font-size: 14px;
  margin: -8px 0 0px 0;
}
.location_address{
  border-bottom: 5px solid #ddd;
  padding-bottom: 10px;
}
#address_type h3{
  color: #293071;
  font-size: 15px;
  margin: 10px 0;
}
#address_type .radiobutns{
  margin-left: 0px;
}
.cur_loc{
  border-bottom: 0px solid #293071 !important;
}
.edit_labls .item-input{
  border:none;
}
.edit_labls ::-webkit-input-placeholder { /* Chrome */
  color: #000 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.edit_labls :-ms-input-placeholder { /* IE 10+ */
  color: #000 !important;
}
.edit_labls ::-moz-placeholder { /* Firefox 19+ */
  color: #000 !important;
  opacity: 1 !important;
}
.edit_labls :-moz-placeholder { /* Firefox 4 - 18 */
  color: #000 !important;
  opacity: 1 !important;
}

.input-placeholder {
  position: relative;
}
.input-placeholder input {
  font-size: 15px;
  border-bottom: 1px solid #ddd;
}
.input-placeholder input:valid + .placeholder {
  display: none;
}
.placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 15px;
  color: #000;
  font-weight: 500;
}
.placeholder span {
  color: #be393d;
}
.star{
    color:#be393d;
    font-size: 20px;
    font-weight: 700;
}
#product-icon i{
  float: right;
  font-size: 24px;
  margin-top: -26px;
  color: #293071;
} 

.padding-left5{
   padding-left: 3%;
   margin: 10px 0;
}
.padding-left2{
   padding-left: 2%;
   font-size: 15px;
   font-weight: 500;
}
.changeAddr{
    float: left;
}
.conti{
  float: right;
}
.validations{
    margin-left: 5%;
}
.middle{
  padding: 0 20px;
}
.pro_attr{
  font-size: 14px;
  font-weight: 500;
}
.pro_val{
  font-size: 15px;
  font-weight: 500;
  color: #7d7b7b;
}

.item-thumbnail-left.cart_imge > img:first-child{
  position: absolute;
  top: 30px;
  left: 0px;
  max-width: 100px;
  width: 100%;
  border: 0px solid #ddd;
}
.center_star{
   margin: 0 auto;
}
.review_desc{
   color:#000;
   margin-left: 10%;
   font-size: 13px;
   margin-bottom: 0px;
}
.posted_on{
  margin-left: 10%;
  font-style: italic;
  color: #9d9b9b;
}
.rating{

}
.give_rating{
  background: #f5f5f5;
  padding: 10px;
  border-radius: 30px;
  margin-top: 20px;
}
.space{
   margin-top: -10px;
}
.prod_slider .swiper-slide img {
  width: auto;
  height: auto;
  max-width: 50%;
  max-height: 100%;
}
#buynow.activated{
  background: #293071;
  border: 1px solid #293071;
  color: #fff;
}


.search-view-more{
  font-size: 14px;
  float: right;
  text-decoration: underline;
}
.overlay, 
.content{
  display:block;
  position: absolute;
  top: 0;
  left: 0;
}

.overlay{
  z-index: 10;
  background: white;
}
.search_back{

}
.search_back li.item{
  padding: 10px 20px;
  font-size: 14px;
}
.cart-btn .button {
  background: #293071;
  color: #fff;
}
.clicked 
{
background-color:#293071;
color: #fff
}

.prod_slider .swiper-container{
  height: 110%;
}

#prod_border{
  border-bottom: 0.1px solid #f2f0f0;
}
#prod_border:last-child{
  border:none;
}
#prod_border .col:first-child{
  border-right: 1px solid #f2f0f0;
}
.all_btns_chkot {
  color: #be393d;
  font-weight: bold;
  text-decoration: underline;
}
.offers_part{
  background: #293071;
  padding: 7px 0;
  box-shadow: 0px 4px 10px 1px #b9b9b9;
}
.offers_part h3{
  margin-top: 10px;
  margin-bottom: 0px;
}
#tooltip_name{
  /* height:45px; */
}
#product_detail_slider .swiper-container-horizontal > .swiper-pagination {
  bottom: 0px !important;
}
.product_desc:last-child {
  border-bottom: none;
}
.filter_tag{
  margin-left: 2%;
  margin-top: -1%;
  color: #918d8d;
  font-size: 15px;
}
.orders_list{
  margin-bottom: 15px;
}
#empty_cart{
  padding: 0px 10%;
}
#empty_cart i{
  font-size: 130px;
  margin-top: 5%;
  color: #293071;
  border: 1px solid #f6f6f6;
  border-radius: 50%;
  padding: 15% 20%;
  background: #f6f6f6;
}
.empty_cart_desc{
  margin: 20% 0;
}
.empty_cart_desc h1{
  font-size: 25px;
  font-weight: 700;
}
.empty_cart_desc h4{
  font-size: 20px;
  color: #636262;
  padding: 20px 0 0 0;
}
.cancel_cart_list .list1{
  margin-top: 4%;
}
.cancel_cart_list h2{
  font-size: 20px;
  font-weight: 500;
}
.cancel_cart_list p{
  font-size: 16px;
  color: #a09c9c;
}
.cancel_cart_list .item{
  border-radius: 10px;
}
.cancel_orders_ser h1{
  font-size: 22px;
  font-weight: 700;   
}
.cancel_orders_ser .search{
  font-size: 12px;
  margin-top: 5px;
}
.capitalize{
  text-transform: capitalize;
}
.cancel_orders_ser h4{
  font-size: 16px;
}
.canc_div .cancel_orders_ser .f_left{
  color: #878484;
}
.canc_div .cancel_orders_ser .f_right{
  color: #293071;
}
.canc_div{
  background: #f8f8f8;
  box-shadow: 2px 2px 2px #ececec;
}
.invoice_body .cancel_cart_list .item {
  background: transparent;
  border: none;
}
.invoice_body{
  padding: 0 5%;
  border-bottom: 5px solid #ddd;
}
.invoice_body:last-child{
  border-bottom: none;
}

.invoice_rev .item-input {
  margin-bottom: 15px;
  border-radius: 5px;
}

fader {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  opacity: 0;
  z-index: -1; }

.radiobutns-shop{
  margin-left: 10px;
  font-size: 20px;
  line-height: 1.8;
}

.category_cart_list .review .item {
  background-color: transparent;
  color: #444;
  border: none;
  margin: 0 -10px;
}

.review_border {
  border-bottom: 3px solid #ddd;
}



.swiper-container{
  overflow:visible !important;
}

.swiper-pagination{

}

#checkbox{
  border:none !important;
  outline:none !important;
  padding-left:8px;
}

.login_labls .item-input{
  padding: 20px 0 5px 5px !important;
}

.remember_me input[type="checkbox"]{
  position:relative;
  top:1px;
}

.smt_background_image .item-input{
  padding: 20px 0 5px 5px !important;
}

.tab-selection-bg {
  box-shadow: 0px 0px 2px 0px #488aff inset;
}
.tab-selection-no-bg {
  box-shadow: transparent;
}

#regForm .item-input{
  padding: 10px 0 5px 5px !important;
}

.bar .bar-header .nav-bar-container{
  margin-top:20px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader{
  top:74px !important;
}

#mainSlider .slider-pager{
  bottom:10px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *{
  margin-top:10px !important;
}

.menu_user_photo{
  width:70px !important;
}

.menu-close div{
  padding:5px !important;
  display:inline-block !important;
}

.sideMenu .ion-item.item.item-complex{
  border-width:0 !important;
}

.productSlide .swiper-pagination{
  position:absolute !important;
  top:90% !important;
  
}

.invoice_body .cancel_cart_list .item {
  background: transparent;
  border: none;
}
.invoice_body{
  padding: 0 5%;
  border-bottom: 5px solid #ddd;
}
.invoice_body:last-child{
  border-bottom: none;
}

.invoice_rev .item-input {
  margin-bottom: 15px;
  border-radius: 5px;
}
#search-clear.button-clear.button-clear {
 
  color: black;
}
.catsort.button{
  line-height: 20px;
}
.coupon-apply{
  font-size: 15px;
  color: #293071;
  line-height: 33px;
  font-weight: 500;
}

.coupon .item-input{
  border:none;
}
.coupon ::-webkit-input-placeholder { /* Chrome */
  color: #b8c0c1 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
}
.coupon :-ms-input-placeholder { /* IE 10+ */
  color: #b8c0c1 !important;
}
.coupon ::-moz-placeholder { /* Firefox 19+ */
  color: #b8c0c1 !important;
  opacity: 1 !important;
}
.coupon :-moz-placeholder { /* Firefox 4 - 18 */
  color: #b8c0c1 !important;
  opacity: 1 !important;
}
.coupon-header{
  color: #293071;
  font-weight: 500;
}


/*registration start*/
.reg-label i{
  line-height: 46px;
  /* line-height: 30px; */
}
.reg_labls .item{
  border: none
}
.reg_labls .item-input{
  padding: 20px 0 5px 5px !important;
}
.reg-label-border{
  border-bottom: 1px solid #293071;
}

.reg-input-placeholder {
  position: relative;
}
.reg-input-placeholder input {
  font-size: 15px;
  border-bottom:none;
}
.reg-input-placeholder input:valid + .reg-placeholder {
  display: none;
}
.reg-placeholder {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 18px;
  color: #293071;
}
.reg-placeholder-icon{
  color: #293071;
  font-size: 20px;
  margin-bottom: -3px;
  padding-left: 0px !important;
  padding-right: 15px;
}
.width-10{
  width: 10%;
}
.width-8{
  width: 8%;
}
/*registration end*/

/*old smt styles end here */


/*powertex site styles start here */

.smt_logo_reg {
  padding: 15%;
}

.card111{

}
.content_part{
  text-align: center;
  padding: 5px;
}
.product_name a{
  font-size: 13px;
  text-decoration: none;
  color: #232f3e;
  font-weight: 700;
}
.product_price .offer_price{
  color:#293071;
  font-size: 13px;
  font-weight: 700;
}
.product_price .real_price{
  text-decoration: line-through;
  color:#7a7a7a;
  font-weight: 600;
  font-size: 13px;
}
.product_price .offer_percentage{
  color:#388e3c;
  font-weight: 600;
  font-size: 13px;
}
.content_part .excl_gst{
  font-size: 11px;
  color:#232f3e;
  font-weight: 600;
}
.offer_price {
    color: #293071;
    font-weight: 700;
    font-size: 15px;
}
.cat_block{

}
.cat_block img{
  width:100%;
}
.catogery_slider .swiper-container-horizontal > .swiper-pagination {
  display: none;
}
.banner_slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}
.smt_sideMenu .bar.bar-stable {
  height: 10%;
}
.offer_percentage{
  color: #388e3c;
  font-weight: 600;
  font-size: 13px;
}
.product_Detail_price .real_price{
  text-decoration: line-through;
  font-size: 14px;
  padding: 0 20px 0 5px;
  color: #b1b1b1;
}
.pro_detail_name h1{
  font-size: 16px;
}
.detailexcl_gst{
  color: #b1b1b1;
  font-weight: 600;
}
.highlits h3{
  color: #293071;
  font-size: 18px;
}
.highlits ul li{
  font-size: 14px;
  font-weight: 600;
  color: #757575;
  margin-left: 20px;
  list-style-type: square;
}
.highlits ul a{
  color: #387ef5;
  float: right;
  font-size: 14px;
  font-weight: 600;
  padding-right: 10px;
}
.related h1{
  font-size: 20px;
  color: #293071;
  font-weight: 600;
}
.related span{
  float:right;
}
.prod_butns{
  border:2px solid #293071;
}
.prod_butns #cart{
  background: #293071;
  color:#fff;
  border-radius:0px;
}
.offers_part span{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: underline;
}
.offers_part button{
  background: #be393d;
  border: #be393d;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  margin-top: -1px;
}
.ofr_products_slider .swiper-container-horizontal > .swiper-pagination {
  display: none !important;
}
.category_blk{
  font-size: 14px;
  font-weight: 620;
  color: #232f3e !important;
  background: none !important;
  border-bottom:3px solid #ddd !important;
  border-color: #ddd !important;
}
.subCat_list{
  font-size: 13px;
  font-weight: 600;
  color: #293071;
  border-style: none;
  padding-left: 40px;
}
.more_pro{
  color: #293071;
    font-size: 14px;
    font-weight: 650;
    padding: 5px;
    text-align: center;
    text-decoration: underline;
}
.rel_p{
  font-size: 18px;
  font-weight: 650;
  color: #293071;
  padding: 5px 0 5px 10px;
}
#search_new{
  width: 118%;
  background: #293071;
}
.mdl_no{
  font-size: 12px;
  font-weight: 500;
}
.wishlist_icon{
  color:#bfbfbf;
  font-size: 16px;
}
/*powertex site styles end here */

.profile_text{
  font-size: 16px;
  color: #293071;
  font-weight: 500;
}
.textbreak{
    word-break: break-all;
    overflow: initial;
    white-space: initial;
}


